.modal-accounts-list {
	display: none;
	position: fixed; right: 0; left: 0; top: 90px;
	margin: auto;
	background: #fff;
	width: auto;
	width: 400px;
	min-height: 428px;
	-webkit-box-shadow: 0 0 20px #969696;
	box-shadow: 0 0 20px #969696;
}
.accounts-list__section {
	height: 254px;
	border-top: 1px solid #f2f2f2;
}
.accounts-list__section.custom-scroll {
	overflow: hidden;
}
.accounts-list__tbl {
	width: 100%;
}
.accounts-list__tbl tr {
	border-top: 1px solid #f2f2f2;
}
.accounts-list__tbl td {
	vertical-align: middle;
	height: 38px;
}
.accounts-list__tbl td:nth-child(1) {}
.accounts-list__tbl td:nth-child(2) {}
.accounts-list__tbl td:nth-child(3) {width: 70px;}
.accounts-list__tbl td:nth-child(4) {
	width: 41px;
}
.accounts-list__tbl tr:first-child {border-top: 0;}
.accounts-list__tbl tr:first-child td {height: 37px;}
.accounts-list__ttl {
	display: block;
	width: 100%;
	font-family: 'gotham_pro_bold';
	font-size: 13px;
	color: #289bf5;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 20px;
	position: relative;
	text-decoration: none;
}
.accounts-list__ttl:hover {
}
.accounts-list__ttl:after {
	content: "";
	display: block;
	position: absolute; top: 0; right: 0;
	width: 19px; height: 100%;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
}
.accounts-list__count {
	display: block;
	font-family: 'gotham_pro_bold';
	font-size: 13px;
	color: #666;
	text-align: right;
	padding-right: 18px;
	text-decoration: none;
}
.accounts-list__count:hover {
}
.accounts-list__tbl tr:hover a {color: #1eb364;}
.accounts-list__tbl tr.accounts-list__tr-hover .accounts-list__ttl,
.accounts-list__tbl tr.accounts-list__tr-hover .accounts-list__count {color: #e44848}
.accounts-list__date {
	font-size: 12px;
	line-height: 20px;
	color: #bbb;
	padding-right: 8px;
	padding-top: 1px;
	cursor: default;
}
.accounts-list__remove {
	display: block;
	width: 41px; height: 38px;
	background: url(../i/icon-remove-x.png) 10px 13px no-repeat;
}
.accounts-list__remove:hover {
	background-position: 10px -36px;
}
.accounts-list__info {
	display: block;
	width: 41px; height: 38px;
	background: url(../i/icon-question-000.png) 10px 50% no-repeat;
	opacity: .15;
}
.accounts-list__info:hover {
	opacity: 1;
}

.box {
	width: 100%; height: 100%;
	position: relative;
	padding: 21px;
}
.box .btn {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	transition: transform .3s ease;
	z-index: 10;
}
.box form {
	width: 100%; height: 100%;
}
.box.has-advanced-upload form {
	outline: 2px dashed #e2e2e2;
	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.has-advanced-upload form:hover,
.box.is-dragover form {
	outline-color: #d4d4d4;
}
.box__dragndrop,
.box__icon {
	display: none;
}
.box.has-advanced-upload .box__dragndrop {
	display: inline;
}
.box.has-advanced-upload .box__icon {
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	margin-bottom: 40px;
}
.box__input {
	width: 100%; height: 100%;
}
.box__input input[type=file] {
	display: none;
}
.box label {
	display: block;
	width: 100%; height: 100%;
	text-align: center;
	padding-top: 60px;
	font-family: 'apercu_pro_light';
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	font-size: 8px;
	color: #666;
	line-height: 17px;
	cursor: pointer;
}
.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input {
	visibility: hidden;
}

.box__uploading,
.box__success,
.box__error {
	display: none;
}
.box.is-uploading .box__uploading {
	display: block;
	position: absolute;
	top: 50%;	left: 50%;
	width: 356px; height: 209px;
	background: url(../i/anim-preloader.gif) 50% 50% no-repeat;
	-webkit-transform: translateY(-50%, -50%);
	transform: translate(-50%, -50%);
}
.box.is-success .box__success,
.box.is-error .box__error {}
.box__uploading {
	font-style: italic;
}
.box__success {
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}
@-webkit-keyframes appear-from-inside {
	from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
	75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
	to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside {
	from	{ transform: translateY( -50% ) scale( 0 ); }
	75%		{ transform: translateY( -50% ) scale( 1.1 ); }
	to		{ transform: translateY( -50% ) scale( 1 ); }
}

.box__restart {
	font-weight: 700;
}
.box__restart:focus,
.box__restart:hover {
	color: #39bfd3;
}

.js .box__file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.js .box__file + label {
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}
.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong {
	color: #39bfd3;
}
.js .box__file:focus + label,
.js .box__file.has-focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.js .box__file + label * {
	/* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .box__file + label {
	display: none;
}

.no-js .box__button {
	display: block;
}
.box__button {
	font-weight: 700;
	color: #e5edf1;
	background-color: #39bfd3;
	display: block;
	padding: 8px 16px;
	margin: 40px auto 0;
}
.box__button:hover,
.box__button:focus {
	background-color: #0f3c4b;
}
