  .accounts__back {
    display: block;
    width: 40px; height: 40px;
    background: url(../i/icon-accounts-back.png) 50% 50% no-repeat;
    border: 3px solid #808080;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .accounts__plus {
    display: block;
    width: 40px; height: 40px;
    background: url(../i/icon-accounts-plus.png) 50% 50% no-repeat;
    border: 3px solid #808080;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .accounts__list {
    height: 100vh;
    padding: 140px 20px 60px;
  }
  .accounts__list .slick-prev.slick-arrow {display: none !important;}
  .accounts__inner {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .accounts__item {
    display: block;
    width: 40px;
    margin-bottom: 20px;
  }
  .accounts__item img {
    width: 100%;
    border-radius: 50%;
  }
  .accounts__more {
    position: absolute; left: 20px; bottom: 20px;
    display: block;
    width: 40px; height: 33px;
    background: url(../i/icon-accounts-more.png) 50% 50% no-repeat;
  }
  .accounts__question {
    display: block;
    width: 40px; height: 40px;
    background: url(../i/icon-accounts-q.png) 50% 50% no-repeat;
    border: 3px solid #808080;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .accounts__dollar {
    display: block;
    width: 40px; height: 40px;
    background: url(../i/icon-accounts-dollar.png) 50% 50% no-repeat;
    border: 3px solid #808080;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .accounts__user {
    display: block;
    width: 40px; height: 40px;
    background: url(../i/icon-accounts-user.png) 50% 50% no-repeat;
    border: 3px solid #808080;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .account__block {
    background: #1eb364;
    border-radius: 3px;
  }
  .account__block.red {

  }
  .account__block.grey {

  }
  .account__info {
    padding: 20px 20px 0;
  }
  .account__img {
    border-radius: 3px;
  }
  .acoount__link {
    position: relative;
    display: block;
    font-family: 'gotham_probold';
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    margin: 14px 0 16px;
  }
  .acoount__link:after {
    content: "";
    position: absolute; 
    top: 0; right: 0;
    width: 20px; height: 100%;
    background: -moz-linear-gradient(left,  rgba(30,179,100,0) 0%, rgba(30,179,100,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(30,179,100,0) 0%, rgba(30,179,100,1) 100%);
    background: linear-gradient(to right,  rgba(30,179,100,0) 0%, rgba(30,179,100,1) 100%);
  }
  .acoount__link:hover {text-decoration: underline;}
  .account__tools {
    background: rgba(0,0,0, .05);
    padding: 20px 20px 21px;
    height: 61px;
  }
  .account__tools-cog {
    float: left;
    background: url(../i/sprite-account-block.png) 0 -31px no-repeat;
    width: 20px; height: 20px;
  }
  .account__tools-cog:hover,
  .account__tools-cog.active {background-position: 100% -31px;}
  .account__tools-pause {
    float: right;
    width: 20px; height: 20px;
    background: url(../i/sprite-account-block.png) 0 -51px no-repeat;
  }
  .account__tools-pause:hover,
  .account__tools-pause.active {background-position: 100% -51px;}
  .account__tools-play {
    float: right;
    width: 20px; height: 20px;
    background: url(../i/sprite-account-block.png) 0 -71px no-repeat;
    margin-left: 10px;
  }
  .account__tools-play:hover,
  .account__tools-play.active {background-position: 100% -71px;}
  .account__help {
    height: 46px;
    padding: 17px 20px 0;
  }
  .account__help-video {
    display: block;
    background: url(../i/sprite-account-block.png) 80px 0 no-repeat;
    font-family: 'gotham_pro';
    font-size: 11px;
    line-height: 11px;
    color: rgba(255,255,255,.5);
    text-decoration: none;
  }
  .account__help-video:hover {
    text-decoration: underline;
  }