.modal-account-houston {
	display: none;
	position: fixed; right: 0; left: 0; top: 90px;
	margin: auto;
	background: #fff;
	width: auto;
	width: 252px;
	min-height: 376px;
	-webkit-box-shadow: 0 0 20px #969696;
	box-shadow: 0 0 20px #969696;
}
.modal-account-houston .modal-filter-top {padding: 0;}
.account-houston__header {
	height: 207px;
	font-family: 'gotham_pro_bold';
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	padding-top: 134px;
	background: url(../i/icon-account-spooky.png) 50% 40px no-repeat;
}
.account-houston__section {
	padding: 0 20px;
	border-top: 1px solid #f2f2f2;
}
.account-houston__btns {
	text-align: center;
	margin-top: 24px;
}
.account-houston__p {
	font-size: 12px;
	line-height: 19px;
	color: #666;
	text-align: center;
	margin-top: 24px;
}