.modal-account-stop {
	display: none;
	position: fixed; right: 0; left: 0; top: 90px;
	margin: auto;
	background: #fff;
	width: auto;
	width: 400px;
	min-height: 428px;
	-webkit-box-shadow: 0 0 20px #969696;
	box-shadow: 0 0 20px #969696;
}
.account-stop__section {
	padding: 20px;
	border-top: 1px solid #f2f2f2;
}
.account-stop__actions {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.account-stop__action {
	position: relative;
	background: #f3f3f3;
	display: block; height: 213px;
	width: 175px;
	padding-top: 98px;
	font-size: 12px;
	line-height: 18px;
	color: #666;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
}
.account-stop__action:after {
	content: "";
	position: absolute; left: 50%; top: 30px;
	transform: translateX(-50%);
	width: 44px; height: 44px;
}
.account-stop__pause:after {
	background: url(../i/icon-account-pause.png) 0 0 no-repeat;
}
.account-stop__delete:after {
	background: url(../i/icon-account-delete.png) 0 0 no-repeat;
}
.account-stop__action:hover:after {
	background-position: 0 -44px;
}
.account-stop__transfer {
	height: 175px;
	padding: 0 20px;
	border-bottom: 1px solid #f2f2f2;
}
.account-stop__transfer .filter-form-elem {padding-right: 0;}
.account-stop__result {
	height: 326px;
	font-family: 'gotham_pro_bold';
	text-align: center;
}
.account-stop__result:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0; height: 100%;
}
.account-stop__result-inner {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 4px;
}
.account-stop__result-ttl {
	font-size: 18px;
	line-height: 24px;
	color: #000;
}
.account-stop__result-p {
	font-size: 13px;
	line-height: 20px;
	color: #999;
	margin-top: 18px;
}