.addbar-default-state {
	border: 1px solid #fff;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.addbar .addbar-text-ttl {
	font-family: 'gotham_pro_bold';
	font-size: 13px;
	font-weight: normal;
	line-height: 17px;
	color: #888;
	margin-bottom: 9px;
}
.addbar .addbar-text-p {
	font-size: 11px;
	line-height: 17px;
	color: #999;
	margin-bottom: 9px;
}
.addbar .addbar-text-p.addbar .addbar-text-red {color: #e44848;}
.addbar .addbar-text-ul {
	font-size: 11px;
	line-height: 17px;
	color: #999;
	margin-bottom: 9px;
}
.addbar .addbar-text-ul li {
	position: relative;
}
.addbar .addbar-text-ul li:after {
	content: "•";
	position: absolute; top: 0; left: -8px;
	width: 8px;
	text-align: left;
	color: #ddd;
}
.addbar .addbar-text-a {
	font-size: 11px;
	line-height: 17px;
	color: #2a9df6;
	text-decoration: none;
}
.addbar .addbar-text-a:hover {text-decoration: underline;}
.addbar .addbar-text-pseudo {
	font-size: 11px;
	line-height: 17px;
	color: #2a9df6;
	text-decoration: none;
}
.addbar .addbar-text-pseudo span {
	display: inline-block;
	line-height: 10px;
	border-bottom: 1px dotted;
}
.addbar .addbar-section {
	font-size: 12px;
	line-height: 19px;
	color: #000;
	border-top: 1px solid #f2f2f2;
	padding: 9px 0;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}
.addbar .addbar-section:after {
	content: "";
	position: absolute; top: 0; right: 0;
	width: 19px; height: 100%;
	background: url(../i/shader-ltr-f9f9f9.png) 0 0 repeat-y;
}
.addbar .addbar-last-date {color: #999;}
.addbar .addbar-state {} 
.addbar .addbar-state.state-green {color: #1eb364;}
.addbar .addbar-account-link {
	color: #289bf5;
	text-decoration: none;
}
.addbar .addbar-account-link:hover {text-decoration: underline;}
.addbar .addbar-statistic {color: #999;}