.modal-add-account {
  display: none;
  position: fixed; right: 0; left: 0; top: 90px;
  margin: auto;
  background: #fff;
  width: auto;
  width: 400px;
  min-height: 353px;
  -webkit-box-shadow: 0 0 20px #969696;
  box-shadow: 0 0 20px #969696;
}
.add-account__form {
  padding: 0 20px 23px;
  border-bottom: 1px solid #e6e6e6;
}
.add-account__form .filter-form-elem {
  padding-right: 0;
}
.modal-add-account .modal-filter-tabs {min-height: inherit;}
.add-account__bot {
  padding: 23px 20px;
}
.add-account__proxy {
  padding-top: 10px;
}
.add-account__proxy.own-proxy {
  display: none;
}