.breadcrumbs {
  position: relative;
  font-family: 'gotham_pro';
  font-size: 11px;
  line-height: 20px;
  height: 54px;
  padding: 16px 0 0 19px;
  border-bottom: 1px solid #f2f2f2;
}
.breadcrumbs_blank {border-bottom: 0;}
.breadcrumbs__list {
  line-height: 20px;
}
.breadcrumbs__a {
  color: #aaa;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}
.breadcrumbs__a a {
  color: #aaa;
  display: inline-block;
}
span.breadcrumbs__a {color: #aaa;}
span.breadcrumbs__a a {color: #aaa;}
a.breadcrumbs__a {
  color: #aaa;
  text-decoration: none;
}
.breadcrumbs__a:last-child {
  color: #ccc;
  cursor: default;
}
.breadcrumbs__a:last-child:hover {color: #ccc;}
a.breadcrumbs__a:hover, .breadcrumbs__a a:hover {text-decoration: none; color: #d54343;}
.breadcrumbs__a + .breadcrumbs__a:before {
  content: "•";
  display: inline-block;
  vertical-align: middle;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  color: #ddd;
  width: 17px;
  padding-right: 3px;
  text-align: center;
}
.breadcrums__bell {
  display: block;
  position: absolute; right: 23px; top: 16px;
  width: 18px; height: 22px;
  background: url(../i/icon-bell.png) 0 0 no-repeat;
}
.breadcrums__bell.active {
  background-position: 0 -22px;
}
.breadcrumbs__bar {
  font-family: 'gotham_pro_bold';
  font-size: 13.5px;
  line-height: 20px;
}
.breadcrumbs__bar-a {
  display: inline-block;
  vertical-align: top;
  margin-right: 17px;
  color: #bbb;
  text-decoration: none;
}
.breadcrumbs__bar-a span {
  position: relative;
  color: #000;
}
.breadcrumbs__bar-a.active span {
  color: #e44848;
  text-decoration: none;
}
.breadcrumbs__bar-a.active span:after {
  content: "";
  position: absolute;
  bottom: -20px; left: 0;
  width: 100%; height: 3px;
  background: #e44848;
}
@media only screen and (min-width: 1330px) {
  .breadcrums__bell {display: none;}
}