.btn {
  display: inline-block;
  border-radius: 3px;
  height: 29px;
  font-family: 'apercu_pro_light';
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  outline-offset: 0;
  cursor: pointer;
}
.btn i {
  display: inline-block;
  width: 26px;
  height: 100%;
  vertical-align: top;
}
.btn span {
  display: inline-block;
  position: relative; top: 0; left: 0;
  vertical-align: middle;
  height: 100%;
  line-height: 27px;
  padding: 0 12px;
  border-radius: 0 3px 3px 0;
  white-space: nowrap;
}
.btn:active span {top: 0; left: 0;}
.btn_arial {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: bold;}
.btn_tiny {height: 20px;}
.btn_tiny span {line-height: 18px;}
.btn_medium {height: 33px;}
.btn_medium span {line-height: 31px;}
@-moz-document url-prefix() {
  .btn_medium span {line-height: 32px;}
  .btn_border.btn_medium span {line-height: 30px;}
}
.btn_big {height: 35px;}
.btn_big span {line-height: 33px;}
.btn_border {
  border-width: 1px;
  border-style: solid;
}
.btn_fill {width: 100%;}
.btn_fff {
  background: #fff;
  border-color: #fff;
  color: #fff;
}
.btn_black {
  background: #000;
  border-color: #000;
  color: #000;
}
.btn_orange {
  color: #fff;
  background: #ffd06b;
  border-color: #f5b52d;
}
.btn_brown {
  color: #fff;
  background: #a57101;
  border-color: #a57101;
}
.btn_blue {
  color: #289bf5;
  background: #289bf5;
  border-color: #289bf5;
}
.btn_lightblue {
  color: #2a9df6;
  background: #2a9df6;
  border-color: #2a9df6;
}
.btn_skyblue {
  color: #32a1f6;
  background: #32a1f6;
  border-color: #32a1f6;
}
.btn_red {
  color: #d54343;
  background: #d54343;
  border-color: #d54343;
}
.btn_grey {
  color: #999;
  background: #cdcbc3;
  border-color: #cdcbc3;
}
.btn_grey2 {
  color: #999;
  background: #e6e6e6;
  border-color: #e6e6e6;
}
.btn_grey3 {
  color: #999;
  background: #e2e2e2;
  border-color: #e2e2e2;
}
.btn_lightgrey {
  color: #999;
  background: #e2e2e2;
  border-color: #e2e2e2;
}
.btn_green {
  color: #00a551;
  background: #00a551;
  border-color: #00a551;
}
.btn_rside {
  color: #bbb;
  background: rgba(255,255,255, .07);
  border-color: rgba(255,255,255, .07);
}
.btn_orange span {background: #f5b52d;}
.btn_noborder {
  border: 0;
}
.btn_solid {color: #fff;}
.btn_fill {width: 100%;}
.btn_transparent {background: transparent;}
.btn_transparent span {background: transparent;}
.btn_dropdown {}
.btn + .btn {margin-left: 8px;}
.btn:disabled {cursor: default;}

.btn i.btn-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.btn i.btn-icon-fwd {
  background: url(../i/icon-btn-fwd.png) no-repeat;
  width: 13px; height: 8px;
}
.fake-file-input {
  position: absolute;
  width: 130px;
  opacity: 0;
  cursor: pointer;
  z-index: 0;
}
.fake-file-ready:disabled {
  background-color: #e5e5e5;
  color: #999;
}