.channel__charts {
  display: block;
  height: 40px;
  padding-bottom: 2px;
  position: relative;
  color: #000;
  text-decoration: none;
}
.charts__inner {
  position: absolute;
  left: 0; bottom: 2px;
  width: 100%; height: 100%;
  font-size: 0;
}
.charts__inner:after {
  content: "";
  width: 0; height: 100%;
  display: inline-block;
  vertical-align: bottom;
}
.charts__col {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 4px; height: 0;
  margin-left: 4px;
  background: #1eb364;
}
.charts__col:before {
  content: "";
  position: absolute;
  bottom: -2px; left: 0;
  width: 4px; height: 1px;
  background: #929292;
}
.charts__col:first-child {margin-left: 0;}

.chart__bars {
  position: relative;
  background: #636363 url(../i/bg-bars-halo-green.png) 50% 100% no-repeat;
  height: 113px;
  padding: 27px 27px 0 27px;
  border-radius: 3px;
}
.bars__holder {
  display: block;
  height: 40px;
  padding-bottom: 2px;
  position: relative;
  color: #000;
  text-decoration: none;
}
.bars__inner {
  position: absolute;
  left: 0; bottom: 2px;
  width: 100%; height: 100%;
  font-size: 0;
}
.bars__inner:after {
  content: "";
  width: 0; height: 100%;
  display: inline-block;
  vertical-align: bottom;
}
.bars__item {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 4px; height: 100%;
  margin-right: 4px;
  cursor: pointer;
}
.bars__item span {
  display: block;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; height: 0;
  background: #79797a;
  transition: height .4s ease, background .2s ease;
}
.bars__inner-bubble {
  display: none;
  position: absolute;
  top: -7px; left: 0;
  transform: translate(-50%, -100%);
  font-weight: normal;
  background: rgba(49, 172, 107, .6);
  height: 26px;
  font-family: 'apercu_pro_light';
  font-size: 8px;
  line-height: 26px;
  color: #fff;
  white-space: nowrap;
  padding: 0 11px;
  text-transform: uppercase;
  border-radius: 13px;
  transition: left .2s ease;
}
.bars__inner-bubble:after {
  content: "";
  position: absolute;
  left: 50%; bottom: -4px;
  transform: translateX(-50%);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(49, 172, 107, .6);
}
.chart__bars-ttl {
  font-family: 'apercu_pro_light';
  font-size: 8px;
  line-height: 22px;
  color: #ccc;
  margin-top: 12px;
  text-align: center;
  text-transform: uppercase;
}
.bars__item.hover-state span {
  background: #1eb364;
}
.bars__item:before {
  content: "";
  position: absolute;
  bottom: -2px; left: 0;
  width: 4px; height: 1px;
  background: #929292;
}
.bars__item.hover-state:before {
  background: #1eb364;
}
.chart__bars_blue {background-image: url(../i/bg-bars-halo-blue.png)}
.chart__bars_blue .bars__item.hover-state span {background: #289bf5;}
.chart__bars_blue .bars__inner-bubble {background: rgba(40, 155, 245, .6);}
.chart__bars_blue .bars__inner-bubble:after {border-top-color: rgba(40, 155, 245, .6);}
.chart__bars_blue .bars__item.hover-state:before {background: #289bf5;}
.bars__item:last-child {margin-right: 0;}