.comments {
	height: 100%;
	overflow: hidden;
}
.comments-layout {
	position: relative;
	width: 100%; height: 100%;
}
.comments-main {
	float: left;
	width: 100%; height: 100%;
	overflow: hidden;
}
.animate-closing {border-right: 1px solid #ebebeb;}
.animate-opening .filter-form-blank {display: none;}
.comments-side {
	position: relative;
	display: none;
	float: left;
	width: 50%;height: 100%;
	border-left: 1px solid #ebebeb;
	overflow: hidden;
	z-index: 5;
}
.comments-section {}
.comments-ttl {
	height: 48px;
	font-family: 'gotham_pro_bold';
	font-size: 13px;
	line-height: 20px;
	color: #000;
	padding: 13px 20px 14px;
	border-bottom: 1px solid #f2f2f2;
}
.comments-ttl span {color: #bbb;}
.sticky-header {
}
.comments-i {
	border-bottom: 1px solid #f2f2f2;
	padding: 0 20px;
}
.comments-inner {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.comments-img {
	display: table-cell;
	vertical-align: top;
	padding: 20px 15px 20px 0;
	width: 95px;
	position: relative;
	text-decoration: none;
}
.comments-img:hover {text-decoration: none;}
.comments-img img {
	width: 80px;
	border-radius: 2px;
}
.comments-img a {
	position: relative;
	float: left;
	overflow: hidden;
	border-radius: 3px;
}

.comments-img a:nth-child(1):nth-last-child(2) {
	width: 39px; height: 80px;
	margin: 0 2px 0 0;
}
.comments-img a:nth-child(2):nth-last-child(1) {
	width: 39px; height: 80px;
	margin: 0;
}
.comments-img a:nth-child(1):nth-last-child(2) img,
.comments-img a:nth-child(2):nth-last-child(1) img {
	width: auto;
	position: absolute; top: -999px; right: -999px; bottom: -999px; left: -999px;
	margin: auto;
}

.comments-img a:nth-child(1):nth-last-child(3) {
	width: 39px; height: 80px;
	margin: 0 2px 0 0;
}
.comments-img a:nth-child(1):nth-last-child(3) img {
	width: auto;
	position: absolute; top: -999px; right: -999px; bottom: -999px; left: -999px;
	margin: auto;
}
.comments-img a:nth-child(2):nth-last-child(2) {
	width: 39px; height: 39px;
	margin: 0 0 2px 0;
}
.comments-img a:nth-child(3):nth-last-child(1) {
	width: 39px; height: 39px;
	margin: 0;
}

.comments-img a:nth-child(1):nth-last-child(4) {
	width: 39px; height: 39px;
	margin: 0 2px 2px 0;
}
.comments-img a:nth-child(2):nth-last-child(3) {
	width: 39px; height: 39px;
	margin: 0 0 2px 0;
}
.comments-img a:nth-child(3):nth-last-child(2) {
	width: 39px; height: 39px;
	margin: 0 2px 0 0;
}
.comments-img a:nth-child(4):nth-last-child(1) {
	width: 39px; height: 39px;
	margin: 0;
}
.comments-img-sup {
	display: block;
	position: absolute; top: 16px; left: -4px;
	height: 16px;
	line-height: 16px;
	padding: 0 5px;
	border-radius: 2px;
	color: #fff;
	font-family: "apercu_pro_light";
	font-size: 8px;
	text-transform: uppercase;
}
.comments-img-sup.sup_red {background: #e65b5b;}
.comments-info {
	display: table-cell;
	vertical-align: top;
	line-height: 20px;
	padding-top: 13px;
}
.comments-info-inner {
	position: relative;
	overflow: hidden;
}
.comments-info-inner-link {
	display: block;
	position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: 1;
}
.comments-info-inner:after {
	content: "";
	display: block;
	position: absolute; top: 0; right: -20px;
	width: 39px; height: 100%;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	z-index: 1;
}
.comments-info-info {
	display: block;
	color: #bbb;
	text-decoration: none;
}
.comments-info-name {
	white-space: nowrap;
	color: #bbb;
}
.comments-info-name a {
	position: relative;
	z-index: 2;
	color: #289bf5;
	text-decoration: none;
}
.comments-info-name a:hover {text-decoration: underline;}
.comments-info-box:hover {text-decoration: none;}
.comments-msg {
	height: 34px;
	color: #000;
	white-space: nowrap;
}
.comments-msg a {
	color: #e44848;
	text-decoration: none;
}
.comments-msg a:hover {text-decoration: underline;}
.comments-bot {}
.comments-bot-l {
	float: left;
}
.comments-bot-r {
	float: right;
	padding: 10px 0 0;
	text-align: right;
}
.comments-spam {
	display: inline-block;
	vertical-align: top;
	height: 14px;
	line-height: 14px;
	padding: 0 3px;
	border-radius: 2px;
	color: #fff;
	font-family: "apercu_pro_light";
	font-size: 8px;
	background: #000;
	margin-right: 11px;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	z-index: 2;
}
.comments-spam:hover {text-decoration: none;}

@-moz-document url-prefix() {
	.comments-spam,
	.comments-img-sup {line-height: 13px;}
}
.comments-star {
	display: inline-block;
	vertical-align: top;
	width: 16px; height: 15px;
	background: url(../i/icon-star.png) 0 0 no-repeat;
	margin: -1px 0 2px 0;
	position: relative;
	text-decoration: none;
	z-index: 2;
}
.comments-star:hover {background-position: 0 -30px;}
.comments-star.active {background-position: 0 -15px;}
.comments-bot .btn,
.comments-bot .star,
.comments-bot .spam {
	position: relative;
	z-index: 2;
}
.comments-i.active {
	background: #fffbeb;
}
.comments-i.active .comments-info-inner:after{
	background: -moz-linear-gradient(left,  rgba(255,251,235,0) 0%, rgba(255,251,235,1) 60%, rgba(255,251,235,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,251,235,0) 0%,rgba(255,251,235,1) 60%,rgba(255,251,235,1) 100%);
	background: linear-gradient(to right,  rgba(255,251,235,0) 0%,rgba(255,251,235,1) 60%,rgba(255,251,235,1) 100%);
}
.comments-i.active .btn.comment-show-full {
	background: #289bf5;
	color: #fff;
}
.comments-head {
	padding: 16px 20px 0;
}
.comments-full {
	padding: 0 20px 0;
}
.comments-scroll {
	height: 100%;
	padding-bottom: 74px;
}
.comments-head.bigboy + .comments-scroll {padding-bottom: 122px;}
.comments-full-top {
	overflow: hidden;
	border-bottom: 1px solid #ebebeb;
}
.comments-full-section .comments-full-top {margin-top: 15px; border-bottom: 0;}
.comments-full-section .comments-full-top-img {padding-bottom: 0;}
.comments-full-top-img {
	float: left;
	width: 95px;
	padding: 4px 14px 20px 0;
}
.comments-full-video {
	position: relative;
}
.comments-full-video:after {
	content: "";
	position: absolute; top: 5px; left: 0;
	width: 120px; height: 120px;
	background: url(../i/icon-overlay-insta-video.png) 50% 50% no-repeat;
}
.comments-full-top-img img {
	width: 100%;
	border-radius: 3px;
}
.comments-full-top-info {
	float: left;
	position: relative;
}
.comments-full-date {
	font-size: 12px;
	line-height: 19px;
	color: #999;
}
.comments-full-stat {margin-top: 13px;}
.comments-full-like {
	font-family: 'gotham_pro_bold';
	font-size: 13px;
	line-height: 18px;
	color: #666;
	padding-left: 22px;
	background: url(../i/icon-likes.png) 1px 4px no-repeat;
}
.comments-full-replies {
	font-family: "apercu_pro_bold";
	font-size: 13px;
	line-height: 18px;
	color: #666;
	padding-left: 22px;
	background: url(../i/icon-replies.png) 1px 4px no-repeat;
}
.comments-full-x {
	display: block;
	width: 11px; height: 11px;
	background: url(../i/icon-x_comm.png) no-repeat;
	position: absolute; top: 20px; right: 20px;
	z-index: 3;
}
.comments-full-msg {
	font-size: 12px;
	line-height: 19px;
	border-bottom: 1px solid #ebebeb;
	padding: 13px 0 15px;
}
.tag-link {
	color: #e44848;
	text-decoration: none;
}
.mention-link {
	color: #000;
	text-decoration: none;
}
.msg-video {
	display: inline-block;
	vertical-align: top;
	width: 22px; height: 14px;
	background: url(../i/icon-insta-video.png) 0 100% no-repeat;
}
.msg-photo {
	display: inline-block;
	vertical-align: top;
	width: 19px; height: 14px;
	background: url(../i/icon-insta-photo.png) 0 100% no-repeat;
}
.msg-like {
	display: inline-block;
	vertical-align: top;
	width: 16px; height: 14px;
	background: url(../i/icon-insta-like.png) 0 100% no-repeat;
}
.comments-members {
	padding-bottom: 20px;
}
.comments-members-ttl {
	font-family: 'gotham_pro_bold';
	font-size: 13px;
	line-height: 21px;
	color: #666;
}
.comments-members-list {margin-top: 3px;}
.comments-members-list span {
	display: inline-block;
	vertical-align: top;
	color: #666;
}
.comments-members-list a {
	display: inline-block;
	vertical-align: top;
	color: #289bf5;
	text-decoration: none;
}
.comments-members-list a:hover {text-decoration: underline;}
.comments-members-list a + span:before,
.comments-members-list a + a:before {
  content: "•";
  display: inline-block;
  vertical-align: middle;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  color: #ddd;
  width: 9px;
  padding-right: 3px;
  text-align: center;
}
.comments-full-section-img {
	display: block;
	padding: 7px 0 6px;
}

.comments-full-msg a {text-decoration: none;}
.comments-full-msg a:hover {text-decoration: underline;}
.comments-full-section {
	padding: 15px 0 20px;
}
.comments-full-section + .comments-full-section {border-top: 1px solid #ebebeb;}
.comments-full-user {
	display: table;
	width: 100%;
}
.comments-full-user-img {
	display: table-cell;
	vertical-align: top;
	width: 49px;
	padding-right: 9px;
}
.comments-full-user-img img {width: 40px;}
.comments-full-user-info {
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	line-height: 17px;
}
.comments-full-user-info a {
	color: #289bf5;
	text-decoration: none;
}
.comments-full-user-info a:hover {text-decoration: underline;}
.comments-full-user-info span {color: #bbb;}
.comments-full-section-p {
	font-size: 12px;
	line-height: 20px;
}
.comments-full-section-p a {
	color: #e44848;
	text-decoration: none;
}
.comments-full-section-p a:hover {text-decoration: underline;}
.comments-full-section-bot {
	margin-top: 14px;
	font-size: 0;
}
.comments-full-form {
	padding: 20px 0 0 0;
}
.comments-full-new {display: none;border-bottom: 0;}
.comments-full-form-txt {
	border-radius: 3px;
	background: #f5f5f5;
	height: 92px;
	margin-bottom: 20px;
	position: relative;
}
.comments-full-form-txt textarea {
	border: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: transparent;
	width: 100%; height: 100%;
	color: #000;
	font-size: 12px;
	line-height: 18px;
	padding: 9px 12px 10px 12px;
	resize: none;
}
.comments-full-form-smiles {
	display: block;
	position: absolute; top: 16px; right: 16px;
	width: 13px; height: 13px;
	background: url(../i/icon-smiles.png) no-repeat;
}
.comments-full-form-bot {}
.comments-full-form-bot-l {float: left;}
.comments-full-form-bot-r {float: right;}
.comments-full-form-direct {
	display: inline-block;
	vertical-align: top;
	width: 35px; height: 33px;
	background: url(../i/btn-direct.png) no-repeat;
}

.comments-ufo {
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid #f2f2f2;
}
.comments-ufo .filter-form-cell {
	width: 158px;
}
.comments-ufo .filter-form-blank {
	width: auto;
}
.side-opened .comments-ufo .filter-form-blank {
	display: none;
}
.mCSB_scrollTools {z-index: 10;}
.comments-sticky {
	position: absolute; top: 74px; left: 0;
	width: 720px;
	background: #fff;
	z-index: 3;
}
.sticky-header.fixed {
    position: fixed;
    top: 234px;
    width: 720px;
    background: #fff;
    z-index: 3;
}
.sticky-header.fixed.absolute {
    position: absolute;
    width: 100%;
}
.side-opened .sticky-header {
    width: 360px;
}
.animate-opening .sticky-header {
    transition: width .5s linear;
}
.animate-closing .sticky-header {
    width: 720px;
}
.modal-comments {
	width: 260px;
}
.modal-comments-inner {
	position: relative;
	text-align: center;
	padding-top: 40px;
}
.modal-comments-x {
	position: absolute; top: 20px; right: 20px;
  width: 19px; height: 19px;
  background: url(../i/icon-x-o-lg.png);
}
.modal-comments-ttl {
	font-family: 'gotham_pro_bold';
	font-size: 18px;
	line-height: 22px;
	color: #000;
	margin-top: 22px;
}
.modal-comments-btn {margin-top: 25px;}
.modal-comments-btn .btn {width: 88px;}
.modal-comments-bot {
	border-top: 1px solid #ebebeb;
	color: #aaa;
	font-size: 11px;
	line-height: 18px;
	margin-top: 40px;
	padding: 13px 0 15px;
}
.comments-bot {font-size: 0;}
.comments-bot .btn {
	width: 73px;
}
.filter-form-cal-dd {
	display: none;
}