.modal-comment-delete {
	display: none;
	position: fixed; right: 0; left: 0; top: 90px;
	margin: auto;
	background: #fff;
	width: auto;
	width: 252px;
	min-height: 376px;
	-webkit-box-shadow: 0 0 20px #969696;
	box-shadow: 0 0 20px #969696;
	z-index: 6;
}
.modal-comment-delete .modal-filter-top {padding: 0;}
.comment-delete__header {
	height: 207px;
	font-family: 'gotham_pro_bold';
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	padding-top: 134px;
	background: url(../i/icon-comment-delete.png) 50% 40px no-repeat;
}
.comment-delete__section {
	padding: 0 20px;
}
.comment-delete__section + .comment-delete__section {
	border-top: 1px solid #f2f2f2;
}
.comment-delete__btns {
	text-align: center;
	padding-bottom: 30px;
}
.comment-delete__btns .btn {
	width: 91px;
}
.comment-delete__p {
	font-size: 12px;
	line-height: 19px;
	color: #666;
	text-align: center;
	margin-top: 24px;
}