.modal-message-direct {
	display: none;
	position: fixed; right: 0; left: 0; top: 90px;
	margin: auto;
	background: #fff;
	width: auto;
	width: 400px;
	min-height: 428px;
	-webkit-box-shadow: 0 0 20px #969696;
	box-shadow: 0 0 20px #969696;
}
.modal-message-direct .modal-filter-top {padding: 0;}
.message-direct__header {
	height: 207px;
	font-family: 'gotham_pro_bold';
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	padding-top: 134px;
	background: url(../i/icon-direct-modal.png) 50% 40px no-repeat;
}
.message-direct__section {
	padding: 0 20px;
}
.message-direct__inp {
	border: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #f5f5f5;
	border-radius: 3px;
	font-size: 12px;
	width: 100%; height: 33px;
	color: #000;
	padding: 0 12px 2px;
}
.message-direct__inp:disabled {background: #f5f5f5 url(../i/icon-burger-bbb.png) 100% 50% no-repeat; color: #bbb;-webkit-text-fill-color: #bbb;}
.message-direct__txtarea {
	border: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #f5f5f5;
	border-radius: 3px;
	width: 100%; height: 99px;
	color: #000;
	font-size: 12px;
	line-height: 18px;
	padding: 7px 12px 8px 12px;
	margin-top: 10px;
	resize: none;
}
.message-direct__txtarea::-webkit-input-placeholder {color: #999;} 
.message-direct__txtarea::-moz-placeholder {color: #999;} 
.message-direct__txtarea:-moz-placeholder {color: #999;} 
.message-direct__txtarea:-ms-input-placeholder {color: #999;}
.message-direct__bot {
	margin-top: 21px;
}