.messages-filter {padding-top: 6px;}
.messages__p {
	font-size: 12px;
	line-height: 20px;
	color: #666;
	padding: 16px 20px 17px;
}
.messages__p a {
	color: #289bf5;
	text-decoration: none;
}
.messages__p a:hover {text-decoration: underline;}
.messages__inner {}
.messages__tbl {
	width: 100%;
	font-family: 'apercu_pro_light';
	font-size: 8px;
	color: #fff;
	text-align: left;
}
.messages__tbl thead {background: #b2b2b2;}
.messages__tbl th {
	padding: 0 20px 0 0;
	font-weight: normal;
	height: 33px;
	vertical-align: middle;
	text-transform: uppercase;
}
.messages__tbl tbody tr {
	border-bottom: 1px solid #f0f0f0;
}
.messages__tbl td {
	vertical-align: middle;
	height: 68px;
}
.messages__tbl tr:first-child td {height: 67px;}
.messages__tbl th:first-child,
.messages__tbl td:first-child {
	width: 113px;
	padding-left: 20px;
}
.messages__tbl th:nth-child(2) {
	background: #afafaf;
	padding-left: 20px;
}
.messages__tbl td:nth-child(2) {
	background: #fafafa;
	padding-left: 20px;
	padding-bottom: 1px;
}
.messages__tbl th:nth-child(3),
.messages__tbl td:nth-child(3) {
	padding: 0 20px;
	width: 169px;
}

.messages__status {
	font-family: 'gotham_pro_bold';
	font-size: 19px;
	color: #1eb364;
	height: 19px;
	text-align: left;
	line-height: 10px;
}
.messages__status:before {
	content: "•";
	margin-left: 1px;
}
.messages__warning .messages__status {color: #ffce00;}
.messages__danger .messages__status {color: #e44848;}
.messages__tbl .btn {
	width: 100%;
	text-align: center;
}
.messages__tbl .messages__danger .btn {
	background: #e44848;
	color: #fff;
}
.messages__shift {
	font-family: 'apercu_pro_light';
	font-size: 8px;
	color: #999;
	text-transform: uppercase;
	height: 10px;
}
.messages__shift span {
	font-size: 10px;
}
.messages__ttl {
	font-family: 'gotham_pro_medium';
	font-size: 13px;
	line-height: 20px;
	color: #666;
}
.messages__danger .messages__ttl {
	color: #e44848;
}
.messages__text {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #000;
}
.messages__ttl a,
.messages__text a {
	color: #289bf5;
	text-decoration: none;
}
.messages__ttl a.mention,
.messages__text a.mention {color: #e44848;}
.messages__ttl a:hover,
.messages__text a:hover {text-decoration: underline;}