.new-channel {
	height: 100%;
}
.new-channel-header {
	position: relative;
	z-index: 9;
}
.new-channel-inner-wrap {
	width: 100%; height: 100%;
	padding-top: 160px;
	position: absolute; top: 0; left: 0;
}
.new-channel-inner {
	height: 100%;
	position: relative;
}
.new-channel-content {
	height: 100%;
	position: static;
}
.new-channel-right {
	float: left;
	width: 199px; height: 100%;
	z-index: 1;
}
.new-channel-right2 {
	overflow: hidden;
	height: 100%;
	z-index: 1;
}
.new-channel-content-header,
.new-channel-right-header {
	height: 39px; width: 100%;
	background: #f2f2f2;
	position: absolute; top: 0; left: 0;
	z-index: 9;
}
.new-channel-content-inner,
.new-channel-right-inner {
	padding: 0px 0 0;
	height: 100%;
	z-index: 1;
}
.new-channel-content-inner {
	padding: 0 0px 73px;
}
.new-channel-content-inner.no-inner-footer {padding-bottom: 0;}
.new-channel-content-scroll,
.new-channel-right-scroll {
	height: 100%;
	overflow-y: auto;
}
.new-channel-content-holder {
	height: 100%; 
	float: left; 
	width: 521px;
	position: relative;
	border-right: 1px solid #ebebeb;
	overflow-y: auto;
}
.new-channel-content-holder_full {width: 100%;}
.new-channel-content-outcast {
  position: absolute; bottom: 0; left: 0;
  width: 100%;
  padding: 0 20px 20px;
}
.new-channel-content-footer {
	position: absolute; bottom: 0; left: 0;
	width: 100%; height: 73px;
	background: #f0f0f0;
	z-index: 9;
}

.new-channel-left-nav {
	font-family: "apercu_pro_bold";
	font-size: 15px;
	line-height: 28px;
}
.new-channel-left-nav + .new-channel-left-nav {margin-top: 21px; border-top: 1px solid #e6e6e6; padding-top: 19px;}
.new-channel-left-nav-h {
	display: block;
	color: #2a9df6;
	text-decoration: none;
}
.new-channel-left-nav-h.active {color: #000; cursor: default;}
.new-channel-left-nav-h.active:hover {text-decoration: none;}
.new-channel-left-nav-a {
	display: block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 27px;
	color: #2a9df6;
	text-decoration: none;
}
.new-channel-left-nav-h:hover,
.new-channel-left-nav-a:hover {text-decoration: underline;}
.new-channel-left-nav-h + .new-channel-left-nav-a {margin-top: 3px;}

.new-channel-content-section {
	
}
.new-channel-content-ttl {
	font-family: "apercu_pro_bold";
	font-size: 15px;
	line-height: 18px;
	height: 47px;
	padding: 14px 0 15px;
}
.new-channel .filter-form {padding: 0;}
.new-channel-content-section + .new-channel-content-section {border-top: 1px solid #f2f2f2;}
.new-channel-content-bot {
	border-top: 1px solid #f2f2f2;
	height: 73px;
	padding: 19px 20px 0;
}
.new-channel-content-bot-l {float: left;}
.new-channel-content-bot-l + .new-channel-content-bot-l {margin-left: 10px;}
.new-channel-content-bot-r {float: right;}

.new-channel-right-tags {padding: 17px 30px 0;}
.new-channel-right-tags-ttl {
	font-family: "apercu_pro_bold";
	font-size: 15px;
	line-height: 28px;
}
.new-channel-right-tags-list {
}
.new-channel-right-tags-i {}
.new-channel-right-tag {}

.new-channel-right-tags-list {
	font-family: "apercu_pro";
	font-size: 8px;
	line-height: 18px;
	text-transform: uppercase;
}
.new-channel-right-tags-i {
	height: 25px;
	padding-bottom: 2px;
}
.new-channel-right-tag { 
	border: 1px solid #EBEBEB;
	border-radius: 2px;
	color: #adadad;
	display: inline-block;
	height: 20px;
	padding: 0 9px;
	position: relative;
	text-decoration: none;
	vertical-align: top;
}
.new-channel-right-tooltip {
	font-size: 11px;
	line-height: 18px;
	color: #bbb;
	padding: 18px 28px 0;
}
.new-channel-right-tooltip-more {
	font-size: 11px;
	line-height: 18px;
	display: inline-block;
	padding: 8px 20px 0;
	color: #2a9df6;
	text-decoration: none;
}
.new-channel-right-tooltip-more:hover {text-decoration: underline;}
.new-channel-geo {
	padding: 20px;
	width: 100%; height: 100%;
}
.new-channel-geo-inner {
	position: relative;
	height: 100%;
	background: url(../images/new-channel-map.png);
}
.new-channel-geo-l {
	width: 45%;
	padding: 15px 0 0 15px;
}
.new-channel-geo-search {
	position: relative;
	z-index: 2;
}
.new-channel-geo-search-wrap {
	overflow: hidden;
	background: #fff;
	height: 33px;
	padding: 3px;
	border-radius: 3px;
}
.new-channel-geo-search-inp {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;
	border: 0;
	height: 27px;
	padding: 0 6px;
}
.new-channel-geo-search-inp::-webkit-input-placeholder {color: #2a9df6;} 
.new-channel-geo-search-inp:-moz-placeholder {color: #2a9df6;} 
.new-channel-geo-search-inp::-moz-placeholder {color: #2a9df6;}
.new-channel-geo-search-inp:-ms-input-placeholder {color: #2a9df6;}

.new-channel-geo-search-btn {
	float: right;
	width: 50px; height: 33px;
	border-radius: 3px;
	background: #2a9df6;
	color: #fff;
	font-family: "apercu_pro_light";
	font-size: 10px;
	text-transform: uppercase;
	line-height: 26px;
	margin-left: 10px;
}
.new-channel-geo-results {
	position: absolute; top: 0; left: 0;
	width: 45%; height: 100%;
	padding: 90px 0 15px 15px;
	z-index: 1;
}
.new-channel-geo-results-inner {
	background: #fff;
	border-radius: 3px;
	height: 100%;
}
.new-channel-geo-nav {
	position: absolute; top: 15px; right: 15px;
	width: 30px;
	padding: 0 5px;
	background: #fff url(../i/sprite-geo-nav.png) 50% 10px no-repeat;
	border-radius: 3px;
}
.new-channel-geo-nav-a {
	display: block;
	width: 100%; height: 30px;
}
.new-channel-geo-nav-a + .new-channel-geo-nav-a {border-top: 1px solid #e6e6e6; height: 31px;}

.modal-accounts-list {
	background: #fff;
	width: 440px; height: 453px;
}
.modal-accounts-list-filter {
	background: #f2f2f2;
	padding: 20px;
}
.modal-accounts-list .list-filter-inner {
	display: table;
	width: 100%;
}
.modal-accounts-list .list-filter-side {
	display: table-cell;
	vertical-align: top;
}
.modal-accounts-list .list-filter-side .btn {width: 100%;}
.modal-accounts-list .list-filter-center {
	display: table-cell;
	vertical-align: top;
	width: 210px;
	padding: 0 10px;
}
.modal-accounts-list .list-filter-inp {
	display: block;
	width: 100%; height: 33px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	background: #fff;
	border: 0;
	padding: 0 10px;
	border-radius: 3px;
}
.modal-accounts-list-content {

}
.modal-accounts-list-content .list-content-ttl {
	font-family: 'apercu_pro_bold';
	font-size: 15px;
	line-height: 48px;
	padding: 0 20px;
}
.modal-accounts-list .list-filter-refresh {
	float: right;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	padding: 14px 0;
	color: #bbb;
	text-decoration: none;
}
.modal-accounts-list .list-filter-refresh span {
	background: url(../i/sprite-channel-list-modal.png) 0 -61px no-repeat;
	padding-left: 18px;
}
.modal-accounts-list .list-filter-refresh:hover {text-decoration: underline;}
.modal-accounts-list-content .list-content-ttl span {color: #bbb;}
.modal-accounts-list-content .list-content-wrap {position: relative;}
.modal-accounts-list-content .list-content-scroll {
	height: 269px;
	border-top: 1px solid #f2f2f2;
}
.modal-accounts-list-content .list-content-shadow-top:before {
	content: "";
	position: absolute; top: 1px; left: 0;
	width: 100%; height: 38px;
	background: -moz-linear-gradient(bottom,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	z-index: 2;
}
.modal-accounts-list-content .list-content-shadow-bottom:after {
	content: "";
	position: absolute; bottom: 0; left: 0;
	width: 100%; height: 38px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	z-index: 2;
}
.modal-accounts-list-content .mCSB_scrollTools_vertical {z-index: 3;}
.modal-accounts-list-content .list-content-scroll table {width: 100%;table-layout: fixed;}
.modal-accounts-list-content .list-content-scroll table tr {border-bottom: 1px solid #f2f2f2}
.modal-accounts-list-content .list-content-scroll table td {
	height: 38px;
	vertical-align: middle;
	padding-left: 20px;
	white-space: nowrap;
}
.modal-accounts-list-content .list-content-scroll table td:nth-child(2) {width: 65px;}
.modal-accounts-list-content .list-content-scroll table td:nth-child(3) {width: 135px;}
.modal-accounts-list-content .list-content-scroll table td:nth-child(4) {width: 49px;}
.modal-accounts-list-content .list-content-shader {
	display: block;
	overflow: hidden;
	position: relative;
}
.modal-accounts-list-content .list-content-shader:after {
	content: "";
	position: absolute; right: 0; top: 0;
	width: 19px; height: 100%;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
}
.modal-accounts-list-content .list-content-check {
	color: #2a9df6;
	display: inline-block;
	text-decoration: none;
	padding-left: 23px;
	background: url(../i/sprite-channel-list-modal.png) 0 -122px no-repeat;
}
.modal-accounts-list-content .list-content-check span {
	display: inline-block;
	border-bottom: 1px dotted;
}
.modal-accounts-list-content .list-content-check:hover {text-decoration: none;}
.list-content-check.uploading {
	color: #bbb;
	background-position: 0 0;
	cursor: default;
}
.list-content-check.uploading span {
	border: 0;
}
.list-content-check.uploading span:before {content: "«";}
.list-content-check.uploading span:after {content: "»";}
.list-content-check.active {
	color: #1eb364;
	background-position: 0 -182px;
}
.modal-accounts-list-content .list-content-date {color: #bbb;}
.modal-accounts-list-content .list-content-remove {
	display: block;
	width: 9px; height: 9px;
	background: url(../i/sprite-channel-list-modal.png) 0 -242px no-repeat;
	text-decoration: none;
}
.modal-accounts-list-content .list-content-remove:active,
.modal-accounts-list-content .list-content-remove:hover {
	background-position: 0 -301px;
}

@media screen and (max-height: 860px) {
	.new-channel-content-outcast {
		position: static;
		padding: 10px 0 0 0;
	}
}
@media screen and (max-width: 1280px) {
	.new-channel-right {
		overflow: hidden;
		float: none;
		width: auto;
	}
	.new-channel-right2 {
		display: none;
	}
}