.onboard {
	height: 100%;
	background: #fff;
}
.onboard-slides {
	height: 100%;
}
.onboard-slide {
	text-align: center;
	height: 100%;
	white-space: nowrap;
}
.onboard-slide:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0; height: 100%;
}
.onboard-slide-inner {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.onboard-ttl {
	font-family: "gotham_pro_bold";
	font-size: 20px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 19px;
}
.onboard-p {
	font-size: 12px;
	line-height: 20px;
}
.onboard-p_grey {
	color: #999;
}
.onboard-p a {
	color: #289bf5;
	text-decoration: none;
}
.onboard-p a:hover {text-decoration: underline;}
.onboard-well {
	width: 100%; height: 205px;
	background: url(../i/bg-pattern-well.jpg) 0 0 repeat;
	display: table;
	margin-top: 44px;
}
.onboard-well-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-top: 6px;
}
.onboard-btn {
	display: inline-block;
	height: 48px;
	line-height: 47px;
	font-family: "gotham_pro_bold";
	font-size: 14px;
	color: #fff;
	padding-left: 48px;
	border-radius: 3px;
	margin-bottom: 23px;
	text-decoration: none;
}
.onboard-btn span {
	display: block;
	height: 100%;
	padding: 0 20px;
	border-radius: 0 3px 3px 0;
}
.onboard-btn_add {
	background: #289d5f url(../i/icon-add-acc.png) 15px 15px no-repeat;
}
.onboard-btn_add span {background: #31ac6b;}
.onboard-btn_task {
	background: #2391e8 url(../i/icon-success.png) 15px 15px no-repeat;
}
.onboard-btn_task span {background: #289bf5;}
.onboard-plink {
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	color: #4090db;
	border-bottom: 1px dotted;
	text-decoration: none;
}
.onboard-footer {
	padding: 30px 0 0 0;
}
.onboard-footer-colgroup {
	display: inline-table;
	text-align: left;
	margin-right: 31px;
}
.onboard-footer-col {
	display: table-cell;
	vertical-align: top;
	width: 33.33%;
	padding: 0 0 0 40px;
}
.onboard-footer-ttl {
	font-family: "gotham_pro_bold";
	font-size: 15px;
	line-height: 22px;
}
.onboard-footer-p {
	font-size: 12px;
	line-height: 20px;
	color: #666;
	margin: 13px 0 21px;
}
.onboard-more {
	color: #289bf5;
	text-decoration: none;
}
.onboard-more:hover {text-decoration: none;}
.onboard-more:hover span {text-decoration: underline;}
.onboard-well-pic {
	display: inline-block;
	vertical-align: top;
	width: 139px; height: 139px;
}
.onboard-well-pic + .onboard-well-pic {margin-left: 17px;}
.onboard-well-pic img {
	width: 100%;
	border-radius: 3px;
}