.payment__section .title {
}
.payment__notice {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  padding: 16px 20px 17px;
}
.payment__notice a {
  color: #2a9df6;
  text-decoration: none;
}
.payment__notice a:hover {text-decoration: underline;}
.payment-ttl {
  font-family: "apercu_pro_bold";
  font-size: 15px;
  line-height: 20px;
  padding: 14px 0;
}
.payment-ttl a {
  color: #289bf5;
  text-decoration: none;
}
.payment-ttl a:hover {text-decoration: underline;}
.payment-history {
  border-top: 1px solid #ebebeb;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  width: 100%;
}
.payment-history tr {
  border-bottom: 1px solid #ebebeb;
}
.payment-history tr td {
  height: 37px;
  vertical-align: middle;
  color: #000;
  padding-left: 15px;
}
.payment-history tr td:nth-child(1) {width: 100%; padding: 0;}
.payment-history tr td:nth-child(2) {color: #bbb;}
.payment-history tr td:nth-child(3) {text-align: right;}
.payment-history tr td:nth-child(4) a {color: #e44848; text-decoration: none;}
.payment-history tr td a {color: #289bf5; text-decoration: none;}
.payment-history tr td a:hover {text-decoration: underline;}
.payment-history tr.payment-history-income td:nth-child(1),
.payment-history tr.payment-history-income td:nth-child(2) {color: #1eb364;}

.payment-plans {
  background: #f0f0f0;
  padding: 20px 10px 20px 20px;
  margin-bottom: 1px;
}
.payment-plans-inner {
  display: table;
  width: 100%;
}
.payment-plans-i {
  display: table-cell;
  width: 20%;
  padding-right: 10px;
}
.payment-plans-chck {
  visibility: hidden;
  position: absolute; top: -9999px;
}
.payment-plan-card {
  display: block;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.payment-plan-card-top {
  font-family: 'apercu_pro';
  font-size: 8px;
  line-height: 20px;
  text-transform: uppercase;
  color: #999;
  padding: 8px 0;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.payment-plan-card-top span {font-size: 10px;}
.payment-plan-card-mid {
  height: 128px;
}
.payment-plan-card-term {
  display: inline-block;
  width: 68px; height: 68px;
  border-radius: 50%;
  background: #ebebeb;
  font-family: 'apercu_pro_light';
  font-size: 8px;
  line-height: 15px;
  text-transform: uppercase;
  color: #888;
  padding-top: 21px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.payment-plan-card:hover .payment-plan-card-term {color: #000;}
.payment-plan-card-term span {
  font-family: 'gotham_pro_bold';
  font-size: 20px; 
  display: block;
  text-transform: none;
  margin-bottom: 1px;
}
.payment-plan-card-price {
  font-family: 'gotham_pro_bold';
  font-size: 20px;
  line-height: 20px;
  margin-top: 12px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.payment-plan-card-save {
  font-family: 'apercu_pro';
  font-size: 8px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1eb364;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.payment-plan-card-save.save-default {color: #000;}
.payment-plan-card-save.save-none {color: #e44848;}
.payment-plan-card-bot {
  height: 69px;
  border-top: 1px solid #f5f5f5;
  padding-top: 20px;
}
.payment-plan-card-btn {
  display: inline-block;
  font-family: 'apercu_pro';
  font-size: 8px;
  text-transform: uppercase;
  color: #999;
  width: 88px; height: 28px;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: 0;
  outline-offset: 0;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.payment-plan-card-btn span {
  display: inline-block;
  position: relative; top: 0; left: 0;
  vertical-align: middle;
  height: 100%;
  line-height: 26px;
}
.payment-plan-card-btn.alt {display: none;}

.payment-plans-chck:checked + .payment-plan-card {
  background: #1eb364;
}

.payment-plans-chck:checked + .payment-plan-card .payment-plan-card-top,
.payment-plans-chck:checked + .payment-plan-card .payment-plan-card-price,
.payment-plans-chck:checked + .payment-plan-card .payment-plan-card-save {color: #fff;}
.payment-plans-chck:checked + .payment-plan-card .payment-plan-card-save.save-none {color: #fff;}
.payment-plans-chck:checked + .payment-plan-card .payment-plan-card-btn {display: none;}
.payment-plans-chck:checked + .payment-plan-card .payment-plan-card-btn.alt {display: inline-block;color: #fff; background-color: #1aa25a; border-color: #1aa25a;}

.payment-plans-chck:checked + .payment-plan-card .payment-plan-card-term {background: #fff; color: #1eb364;}
.payment-plans-chck:checked + .payment-plan-card .payment-plan-card-bot {border-top: 1px solid #49c081;}

.payment-status {padding: 0 20px; margin-top: -7px;}
.payment-p {
  font-size: 12px;
  line-height: 20px;
  width: 75%;
  padding-bottom: 19px;
}
.payment-p a {color: #289bf5;text-decoration: none;}
.payment-p a:hover {text-decoration: underline;}
.payment-img {
  height: 300px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 18px;
}
.payment-img_fail {
  background-image: url(../images/payment-fail.png);
  background-position: 50% 60%;
}
.payment-img_success {
  background-image: url(../images/payment-success.png);
  background-position: 50% 15%;
}
.payment-btns {padding: 0;}
.payment-img + .payment-btns {padding-top: 7px;}
.payment-btn-do {
  width: 176px;
  white-space: nowrap;
}

.balance {}
.balance .balance-section {
  padding: 14px 20px 15px;
}
.balance .balance-ttl {
  font-family: "apercu_pro_bold";
  font-size: 18px;
  line-height: 20px;
  color: #000;
}
.balance .balance-p {
  font-size: 11px;
  line-height: 17px;
  color: #999;
  margin-top: 10px;
}
.balance .balance-p a {
  color: #289bf5;
  text-decoration: none;
}
.balance .balance-p a:hover {text-decoration: underline;}
.balance .balance-list {}
.balance .balance-tbl {
  width: 100%;
  border-top: 1px solid #f2f2f2;
}
.balance .balance-tbl tr {
  border-bottom: 1px solid #f2f2f2;
}
.balance .balance-tbl td {
  height: 38px;
  color: #999;
  vertical-align: middle;
  padding-left: 20px;
}
.balance .balance-status .balance-tbl td:first-child {width: 180px;}
.balance .balance-account {
  display: block;
  position: relative;
  color: #289bf5;
  text-decoration: none;
}
.balance .balance-account:hover {text-decoration: underline;}
.balance .balance-status .balance-account:after {
  content: "";
  position: absolute; top: 0; right: 0;
  width: 19px; height: 100%;
  background: url(../i/shader-ltr-fff.png) 0 0 repeat-y;
}
.balance .balance-expired {color: #e44848;}
.balance .balance-last-breath {color: #ffa200;}

.balance .multi-account .balance-account {
  display: inline-block;
  font-family: "apercu_pro_bold";
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 5px;
}
.balance .multi-account .balance-tbl td {height: 64px;}
.balance .multi-account .balance-tbl td:nth-child(2) {width: 216px;padding-right: 20px;}
.balance .multi-account .filter-form-elem {padding-right: 0;}
.balance .multi-account .filter-form-field-dd-place-c {height: auto;}
.balance .multi-account .filter-form-field-dd-place-c:first-child {width: auto;}
.balance .multi-account .filter-form-field-dd-place-c:nth-child(2) {width: 52px;}
.balance .multi-account .filter-form-field-dd-i span {color: #1eb364;}
.balance .multi-account .filter-form-field-dd-i span.filter-form-field-val {color: #000;}
.balance-transfer .filter-form-cell {width: 256px;}
.balance-transfer .filter-form-lbl {width: 63px;}
.balance-transfer-sep {
  float: left;
  width: 24px; height: 33px;
}
.balance-transfer-arr {background: url(../i/icon-arrow-transfer.png) 0 50% no-repeat;}
.balance-transfer-account {
  display: none;
  font-size: 12px;
  line-height: 20px;
  padding: 3px;
  background: #fff;
  border-radius: 3px;
  margin-right: 10px;
}
.balance-transfer-inner {
  display: table;
  width: 100%;
}
.balance-transfer-img {
  display: table-cell;
  vertical-align: middle;
}
.balance-transfer-img img {border-radius: 3px;}
.balance-transfer-lbl {
  display: table-cell;
  vertical-align: middle;
  color: #999;
  padding-left: 14px;
}
.balance-transfer-s {}
.balance-transfer-val {
  display: table-cell;
  vertical-align: middle;
  color: #666;
  padding-left: 14px;
}