.accounts {
  padding: 20px;
}
.accounts-i {
  border: 1px solid #ebebeb;
}
.accounts-i + .accounts-i {margin-top: 10px;}
.accounts-in {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.accounts-i-cell {
  display: table-cell;
  vertical-align: middle;
}
.accounts-i-cell:nth-child(1) {width: 7px; position: relative;}
.accounts-i-cell:nth-child(2) {width: 51px;}
.accounts-i-cell:nth-child(3) {border-left: 1px solid #ebebeb; width: 105px;}
.accounts-i-cell:nth-child(4) {padding-bottom: 2px;}
.accounts-i-cell:nth-child(5) {width: 302px;border-left: 1px solid #ebebeb; padding-left: 7px;padding-top: 1px;}
.accounts-i-cell:nth-child(6) {width: 153px; padding: 1px 1px 1px 0;}
.accounts-i-statusbar {
  background: #e0e0e0;
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  border: 1px solid #fff;
}
.accounts-i-img {
  display: block;
  padding: 15px;
}
.accounts-i-img img {border-radius: 3px;}
.accounts-i-name {
  display: block;
  font-family: 'gotham_pro_bold';
  font-size: 15px;
  line-height: 22px;
  color: #289bf5;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.accounts-i-name:hover {text-decoration: underline;}
.accounts-i-name:after {
  content: "";
  display: block;
  position: absolute; top: 0; right: 0;
  width: 20px; height: 100%;  
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
}
.accounts-i-status {
  font-family: 'apercu_pro_light';
  font-size: 8px;
  line-height: 10px;
  color: #aaa;
  text-transform: uppercase;
}
.accounts-i-status span {color: #000;}
.accounts-i.active .accounts-i-status span {color: #00a551;}
.accounts-i.active .accounts-i-tools-btn {background-color: #00a551; border-color: #00a551;}
.accounts-i-tools {position: relative; display: inline-block; margin: 12px 0 0;font-size: 0;}
.accounts-i-tools-ass {display: inline-block; position: relative; z-index: 3;}
.accounts-i-tools-arms {
  display: none;
  background: #e44848;
  position: absolute; top: -5px; right: -5px; left: -5px; 
  width: 100%;
  padding: 43px 5px 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-shadow: 0 0 10px #969696;
  box-shadow: 0 0 10px #969696;
  z-index: 2;
}
.accounts-i-tools-fingers {margin: 0 -5px;}
.accounts-i-tools.active .accounts-i-tools-arms {
  display: block;
  z-index: 4;
}
.accounts-i-tools.active .accounts-i-tools-ass {z-index: 5;}
.accounts-i-tools-btn {
  display: block;
  font-family: 'apercu_pro_light';
  font-size: 10px;
  text-transform: uppercase;
  background: #e44848;
  color: #fff;
  border-radius: 3px;
  width: 100%; height: 33px;
  line-height: 33px;
  text-align: left;
  text-decoration: none;
  position: relative;
  border-top: 1px solid #e55a5a;
  padding: 0 5px 0 14px;
}
.accounts-btn-cloud {
  display: inline-block;
  vertical-align: top;
  width: 33px;
  height: 33px;
  background: #f0f0f0 url(../i/icon-cloud-grey.png) 50% 50% no-repeat;
}
.accounts-i-tools-btn:hover {text-decoration: none; color: #000;}
.accounts-i-tools-ass .accounts-i-tools-btn:hover {text-decoration: none; color: #fff;}
.accounts-i-tools-ass .accounts-i-tools-btn {padding-right: 22px; display: block; z-index: 7; width: auto; text-align: left; padding: 0 31px 0 9px; border: 0;}
.accounts-i-tools-ass .accounts-i-tools-btn span {
  position: absolute; top: 12px; right: 10px;
  display: block;
  width: 9px; height: 9px;
  background: url(../i/icon-burger-fff.png);
}
.accounts-i-tools.green .accounts-i-tools-btn {background: #2eb86f; border-color: #43bf7e;}
.accounts-i-tools.green .accounts-i-tools-arms {background: #2eb86f;}

@-moz-document url-prefix() {
 .accounts-i-promote {line-height: 32px;}
}
.accounts-i-tbl {
  width: 100%;
  font-size: 12px;
  line-height: 22px;
}
.accounts-i-tbl tr td {padding-left: 12px;}
.accounts-i-tbl tr td:first-child {color: #999; width: 107px;}
.accounts-i-tbl tr td:nth-child(3) {color: #1eb364;text-align: right;padding-right: 19px;}
.accounts-i-tbl tr td.bad{color:#e44848}
.accounts-i-tbl tr:nth-child(4) td span {
  font-size: 20px;
  vertical-align: bottom;
  margin: 0 11px 0 3px;
}
.accounts-i-tbl tr td span:last-child {margin-right: 0;}
.accounts-i-tbl tr td span.green-dot {color: #1eb364;}
.accounts-i-tbl tr td span.yellow-dot {color: #ffce00;}
.accounts-i-tbl tr td span.red-dot {color: #e44848;}
.accounts-i-tbl tr td span.grey-dot {color: #999;}
.accounts-i-tbl tr td span.grey-sep {color: #bbb;}
.accounts-i-wrap {position: relative;}
.accounts-i-payment {
  background: #f5f5f5;
  color: #000;
  height: 103px;
  text-align: center;
  display: block;
  text-decoration: none;
}
.accounts-i-payment-info {
  display: inline-block;
  vertical-align: middle;
  background: url(../i/icon-question-000.png) 50% 50% no-repeat;
  width: 11px;
  height: 12px;
  opacity: .15;
  margin: 0 0 3px 5px;
}
.accounts-i-payment-info:hover {opacity: 1;}
.accounts-i-payment .btn {color: #1eb364; border-color: #1eb364;}
.accounts-i-payment:hover {text-decoration: none;}
.accounts-i.active .accounts-i-statusbar {background: #00a551;}
.accounts-i.stopped .accounts-i-statusbar {background: #e44848;}
.accounts-i.stopped .accounts-i-payment  {background: #e44848; color: #fff;}
.accounts-i-payment-p {
  font-size: 12px;
  line-height: 18px;
  padding: 9px 0 13px;
}
.accounts-i-btn {
  display: block;
  position: relative;
  height: 52px;
}
.accounts-i-btn:after {
  content: "";
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  width: 22px; height: 22px;
  margin: auto;
  background: url(../i/sprite-accounts-control.png) no-repeat;
}
.accounts-i-btn + .accounts-i-btn {border-top: 1px solid #ebebeb;}
.accounts-i-btn.accounts-i-btn_play:after {background-position: 0 0;}
  .accounts-i-btn.accounts-i-btn_play:hover:after {background-position: 0 -22px;}
  .accounts-i-btn.accounts-i-btn_play.active:after {background-position: 0 -44px;}
.accounts-i-btn.accounts-i-btn_pause:after {background-position: -22px 0;}
  .accounts-i-btn.accounts-i-btn_pause:hover:after {background-position: -22px -22px;}
  .accounts-i-btn.accounts-i-btn_pause.active:after {background-position: -22px -44px;}
.accounts-i-btn.accounts-i-btn_stop:after {background-position:  -44px 0;}
  .accounts-i-btn.accounts-i-btn_stop:hover:after {background-position:  -44px -22px;}
  .accounts-i-btn.accounts-i-btn_stop.active:after {background-position: -44px -44px;}
.accounts-i-btn.accounts-i-btn_tools:after {background-position: -66px 0;}
  .accounts-i-btn.accounts-i-btn_tools:hover:after {background-position: -66px -22px;}
  .accounts-i-btn.accounts-i-btn_tools.active:after {background-position: -66px -44px;}

.accounts-i-payment-btn {
  display: inline-block;
  border-radius: 3px;
  width: 75px; height: 31px;
  font-family: 'apercu_pro_light';
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  border-radius: 3px;
  outline: 0;
  outline-offset: 0;
  cursor: pointer;
}
.accounts-i-payment-btn span {
  display: inline-block;
  position: relative; top: 0; left: 0;
  vertical-align: middle;
  height: 100%;
  line-height: 28px;
  padding: 0 10px;
}
.accounts-i.active .accounts-i-payment-btn {color: #1eb364;border-color: #1eb364;}
.accounts-i.archived .accounts-i-payment-btn,
.accounts-i.archived .accounts-i-payment-p {color: #999;border-color: #dedede;}
.accounts-i.stopped .accounts-i-payment-btn {color: #fff;border-color: #fff;}
.accounts-i.paused .accounts-i-payment-btn {color: #1eb364;border-color: #1eb364;}

@media only screen and (min-width: 1155px) {
  .accounts-i-tools-ass {display: none;}
  .accounts-i-tools-arms {position: relative; display: block; top: auto; left: auto; background: transparent; padding: 0; margin: 0; -webkit-box-shadow: noner;
    box-shadow: none;
  }
  .accounts-i-tools.green .accounts-i-tools-arms {background: transparent;}
  .accounts-i-tools-btn {
    display: inline-block;
  font-family: 'apercu_pro_light';
    font-size: 10px;
    text-transform: uppercase;
    background: #e44848;
    color: #fff;
    border-radius: 3px;
    height: 31px;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
    position: relative;
    padding: 0 12px;
    margin: 0;
  }
  .accounts-i-tools-arms .accounts-i-tools-btn + .accounts-i-tools-btn {margin-left: 7px;} 
  .accounts-i-tools-btn:hover {text-decoration: none; color: #fff;}
}
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  .accounts-i-btn:after {
    background-image: url(../i/sprite-accounts-control@2x.png);
    background-size: 88px 66px;
  }
}