.settings {}
.settings-i {border-bottom: 1px solid #ebebeb;}
.settings-head {
	height: 50px;
	background: #fff;
	padding: 15px 19px 0;
}
.settings-head-ttl {
	display: inline-block;
	background: url(../i/arrows-ddd.png) 100% -7px no-repeat;
	padding-right: 11px;
	text-decoration: none;
}
.settings-head-acc {
	display: inline-block;
	vertical-align: top;
	font-family: "apercu_pro_bold";
	font-size: 15px;
	line-height: 20px;
	color: #289bf5;
	background: url(../i/dotted-2a9df6.png) 0 16px repeat-x;
}
@-moz-document url-prefix() {
	.settings-head-acc {background-position: 0 17px;}
}
.settings-head-values {
	display: inline-block;
	vertical-align: top;
	margin: 2px 0 0 3px;
}
.settings-head-val {
	float: left;
	height: 20px;
	color: #bbb;
	font-family: 'apercu_pro_light';
	font-size: 9px;
	line-height: 18px;
	padding: 0 5px;
	border: 1px solid #f0f0f0;
	border-width: 1px;
}
.settings-head-val:first-child {
	border-right-width: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.settings-head-val:last-child {
	border-right-width: 1px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.settings-head.active .settings-head-ttl {background-position: 100% 10px;}
.settings-head.active .settings-head-ttl .settings-head-acc {color: #e65f5f; background-image: url(../i/dotted-d54343.png);}
.settings-body {
	display: none;
	background: #f8f8f8;  
}
.limits-likes {
	float: left;
	width: 58%;
	border-right: 1px solid #ebebeb;
	padding: 13px 20px 15px
}
.limits-range-ruler {
	position: relative;
}
.limits-range-lbl {
	font-family: 'apercu_pro_mono';
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	color: #000;
	padding: 0 0 11px 10px;
}
@-moz-document url-prefix() {
 .limits-range-lbl {line-height: 8px; padding-bottom: 13px;}
}
.limits-range-grade {
	display: block;
	position: absolute; top: 0;
	width: 100%; height: 19px;
	background: url(../i/sprite-limits-ruler.png) no-repeat;
	margin-left: -5px;
	padding-left: 5px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.limits-range-grade_0 {
	background-position: -11px -93px;
	margin-left: -2px;
	padding-left: 2px;
}
.limits-follows .limits-range-grade_30 {
	background-position: 50% -74px;
}
.limits-follows .limits-range-grade_45 {
	background-position: 75% -55px;
}
.limits-follows .limits-range-grade_60 {
	background-position: 100% -36px;
	margin-left: 0;
	margin-right: -6px;
	padding-left: 6px;
}
.limits-range-grade_60 {
	background-position: 60% -36px;
}
.limits-range-grade_80 {
	background-position: 80% -17px;
	margin-left: 0;
	margin-right: -5px;
	padding-left: 5px;
}
.limits-range-grade_100 {
	background-position: 100% 2px;
	margin-left: 0;
	margin-right: -2px;
	padding-left: 2px;
}
.limits-range-wrap {}
.likes-range {
}
.limits-range-val {
	display: inline-block;
	height: 20px;
	padding: 0 9px;
	line-height: 18px;
	border: 1px solid #ebebeb;
	font-family: 'apercu_pro_mono';
	font-size: 10px;
	text-transform: uppercase;
	border-radius: 3px;
	margin-top: 12px;
}
@-moz-document url-prefix() {
 .limits-range-val {line-height: 16px;}
}
.limits-range-val.off {
	border-color: #bbb;
	color: #999;
}
.limits-range-val.safe {
	border-color: #1eb364;
	color: #1eb364;
}
.limits-range-val.unsafe {
	border-color: #f4c80b;
	color: #f4c80b;
}
.limits-range-val.dangerous {
	border-color: #f49b28;
	color: #f49b28;
}
.limits-range-val.vdangerous {
	border-color: #e44947;
	color: #e44947;
}
.limits-follows {
	overflow: hidden;
	padding: 13px 20px 15px
}
.follows-range {}

.settings .noUi-target {
	height: 21px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	border-radius: 0;

	background: rgb(30,179,100);
	background: -moz-linear-gradient(left,  rgba(30,179,100,1) 0%, rgba(45,182,93,1) 12%, rgba(64,185,84,1) 23%, rgba(92,191,70,1) 36%, rgba(140,201,46,1) 56%, rgba(143,202,45,1) 56%, rgba(185,207,25,1) 61%, rgba(217,207,11,1) 64%, rgba(242,207,2,1) 68%, rgba(251,207,0,1) 70%, rgba(251,189,4,1) 75%, rgba(251,133,35,1) 84%, rgba(234,90,61,1) 94%, rgba(228,72,72,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,179,100,1)), color-stop(12%,rgba(45,182,93,1)), color-stop(23%,rgba(64,185,84,1)), color-stop(36%,rgba(92,191,70,1)), color-stop(56%,rgba(140,201,46,1)), color-stop(56%,rgba(143,202,45,1)), color-stop(61%,rgba(185,207,25,1)), color-stop(64%,rgba(217,207,11,1)), color-stop(68%,rgba(242,207,2,1)), color-stop(70%,rgba(251,207,0,1)), color-stop(75%,rgba(251,189,4,1)), color-stop(84%,rgba(251,133,35,1)), color-stop(94%,rgba(234,90,61,1)), color-stop(100%,rgba(228,72,72,1)));
	background: -webkit-linear-gradient(left,  rgba(30,179,100,1) 0%,rgba(45,182,93,1) 12%,rgba(64,185,84,1) 23%,rgba(92,191,70,1) 36%,rgba(140,201,46,1) 56%,rgba(143,202,45,1) 56%,rgba(185,207,25,1) 61%,rgba(217,207,11,1) 64%,rgba(242,207,2,1) 68%,rgba(251,207,0,1) 70%,rgba(251,189,4,1) 75%,rgba(251,133,35,1) 84%,rgba(234,90,61,1) 94%,rgba(228,72,72,1) 100%);
	background: -o-linear-gradient(left,  rgba(30,179,100,1) 0%,rgba(45,182,93,1) 12%,rgba(64,185,84,1) 23%,rgba(92,191,70,1) 36%,rgba(140,201,46,1) 56%,rgba(143,202,45,1) 56%,rgba(185,207,25,1) 61%,rgba(217,207,11,1) 64%,rgba(242,207,2,1) 68%,rgba(251,207,0,1) 70%,rgba(251,189,4,1) 75%,rgba(251,133,35,1) 84%,rgba(234,90,61,1) 94%,rgba(228,72,72,1) 100%);
	background: -ms-linear-gradient(left,  rgba(30,179,100,1) 0%,rgba(45,182,93,1) 12%,rgba(64,185,84,1) 23%,rgba(92,191,70,1) 36%,rgba(140,201,46,1) 56%,rgba(143,202,45,1) 56%,rgba(185,207,25,1) 61%,rgba(217,207,11,1) 64%,rgba(242,207,2,1) 68%,rgba(251,207,0,1) 70%,rgba(251,189,4,1) 75%,rgba(251,133,35,1) 84%,rgba(234,90,61,1) 94%,rgba(228,72,72,1) 100%);
	background: linear-gradient(to right,  rgba(30,179,100,1) 0%,rgba(45,182,93,1) 12%,rgba(64,185,84,1) 23%,rgba(92,191,70,1) 36%,rgba(140,201,46,1) 56%,rgba(143,202,45,1) 56%,rgba(185,207,25,1) 61%,rgba(217,207,11,1) 64%,rgba(242,207,2,1) 68%,rgba(251,207,0,1) 70%,rgba(251,189,4,1) 75%,rgba(251,133,35,1) 84%,rgba(234,90,61,1) 94%,rgba(228,72,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1eb364', endColorstr='#e44848',GradientType=1 );
}
.settings .noUi-origin {
	border-radius: 0;
	height: 21px;
}
.settings .noUi-horizontal .noUi-handle {
	width: 21px; height: 21px;
	border-radius: 4px;
	border: 0;
	top: 0;
	left: -10px;
	margin-top: 0;
	background: url(../i/dot-limits-drag.png) 50% 50% no-repeat;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
}
.settings .noUi-handle::before, 
.settings .noUi-handle::after {content: none;}

.blacklist {padding: 15px 20px 10px;}
.blacklist-filter {padding-bottom: 5px;}
.blacklist .filter-form-elem {width: 465px;}
.blacklist .filter-form-elem .filter-form-lbl {width: 90px;}

.blacklist .filter-selected {
	padding: 0;
	border-bottom: 0;
	margin-top: 10px;
}

.tokens {
	padding: 0 19px;
}
.tokens-top {
	padding: 9px 0 15px;
}
.tokens-p {
	font-size: 11px;
	line-height: 17px;
	color: #666;
}
.tokens-top-btn-wrap {margin-top: 10px;}
.tokens-mid {}
.tokens-list {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px dotted #dedede;
}
.tokens-list-row {
	display: table-row;
	border-top: 1px dotted #dedede;
}
.tokens-list-cell {
	display: table-cell;
	height: 40px;
	padding: 0 0 0 18px;
	vertical-align: middle;
	white-space: nowrap;
}
.tokens-list-cell:first-child {padding: 0;}
.tokens-list-cell:nth-child(2) {color: #1eb364;}
.tokens-list-cell:nth-child(3) {color: #bbb;}
.tokens-list-cell:nth-child(4) {
	width: 100%;
	color: #1eb364;
}
.tokens-list-row.blocked .tokens-list-cell:nth-child(2),
.tokens-list-row.blocked .tokens-list-cell:nth-child(4) {color: #d54343;}
.tokens-new {
	height: 40px;
	line-height: 20px;
	padding: 10px 0;
}
.tokens-new a {color: #1eb364; text-decoration: none; display: inline-block;}
.tokens-new a:hover {text-decoration: none; background: url(../i/dotted-00a551.png) 0 15px repeat-x;}

.notifications-wrap {
	padding: 9px 19px;
}
.notifications {
	line-height: 25px;
}
.notifications-i {position: relative;}
.notifications-lbl {
	cursor: pointer;
	vertical-align: middle;
}
.notifications-lbl span {display: inline-block; vertical-align: middle; line-height: 16px;}
.notifications-lbl span>span {vertical-align: top;}
.notifications-chck {
	display: inline-block;
	margin-left: 0;
	margin-top: 2px;
	vertical-align: middle;
}
.personal {
	padding: 0 20px;
}
.personal-section {
	padding-bottom: 23px;
	border-bottom: 1px solid #ebebeb;
}
.personal-section__nopad {padding-bottom: 0;}
.personal-p {
	font-size: 12px;
	line-height: 20px;
	color: #666;
	padding: 16px 0 17px;
}
.personal-ttl {
	line-height: 19px; 
	height: 54px;
	font-family: 'gotham_probold';
	font-size: 15px;
	padding: 16px 0 0;
}
.personal-ttl2 {
	line-height: 19px;
	height: 31px;
	font-family: 'gotham_probold';
	font-size: 15px;
	padding: 16px 0 0;
}
.personal-acc {width: 330px; margin-bottom: 10px;}
.personal-section:after {content: ""; display: table; clear: both;}
.personal-col {
	float: left;	
	padding-right: 10px;
}
.personal-col-line {
	height: 33px;
	font-size: 12px;
	line-height: 19px;
	padding: 7px 0 0 10px;
}
.personal-col-line + .personal-col-line {margin-top: 10px;}
.personal-pass-secure {
	display: inline-block;
	background: #f2f2f2;	
	width: 100px; height: 6px;
	margin-right: 7px;
	border: 1px solid #ccc;
	border-bottom: 0;
	position: relative;
	vertical-align: top;
	margin-top: 7px;
}
.personal-pass-secure-in {
	display: block;
	width: 100%; height: 6px;
	background: #1eb364;
	padding-right: 2px;
	position: absolute; top: -1px; left: -1px;
	transition: width .3s ease;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.personal-pass-secure.mod .personal-pass-secure-in {width: 66%; background: #f4c80b;}
.personal-pass-secure.bad .personal-pass-secure-in {width: 33%; background: #e44947;}
.personal-pass-msg {display: inline-block; vertical-align: middle;}
	.personal-pass-msg_green {color: #1eb364;}
	.personal-pass-msg_yellow {color: #f4c80b;}
	.personal-pass-msg_red {color: #e44848;}
.personal-img {overflow: hidden;}
.personal-img-preview {
	float: left;
	width: 120px; height: 120px;
}
.personal-img-preview img {border-radius: 3px;}
.personal-img-edit {
	overflow: hidden;
	padding-left: 15px;
	position: relative;
	height: 120px;
}
.personal-img-edit-top {
}
.personal-img-edit-bot {
	font-size: 12px;
	line-height: 18px;
	color: #999;
	position: absolute; bottom: -4px; left: 15px;
}
.personal-bot {
	border-top: 1px solid #ebebeb;
	padding: 20px 19px;
}
.personal-bot-p {
	font-family: "apercu_pro_light";
	font-size: 8px;
	line-height: 11px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	margin-left: 17px;
	color: #bbb;
}
.personal-section .filter-form-lbl {
	width: 111px;
}
.personal-section .filter-form-elem {
	width: 290px;
	padding-right: 0;
}
.personal-footer {
	padding-top: 23px;
}
.personal-btn-do {
	width: 100%;
}
.personal-payment-notice {
	color: #999;
	font-size: 12px;
	line-height: 33px;
	background: url(../i/icon-question-grey.png) 0 50% no-repeat;
	padding-left: 16px;
}
.masspayment {}
.masspayment-item {
	display: table;
	width: 100%;	
}
.masspayment-item + .masspayment-item {border-top: 1px solid #ebebeb;}
.masspayment-info {
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
	height: 63px;
}
.masspayment-name {
	display: block;
	font-family: 'gotham_probold';
	font-size: 13px;
	line-height: 19px;
	color: #2a9df6;
	text-decoration: none;
}
.masspayment-name:hover {text-decoration: underline;}
.masspayment-status {
	font-size: 12px;
	line-height: 19px;
	display: block;
	color: #999;
}
.masspayment-status span {color: #000;}
.payment-overdue .masspayment-status span {color: #e44848;}
.payment-expires .masspayment-status span {color: #e1b600;}
.masspayment-select {
	display: table-cell;
	vertical-align: middle;
	width: 192px; height: 63px;
}
span.masspayment-days {
	display: inline-block;
	vertical-align: top;
	width: 52px;
	color: #000;
	float: none;
	margin-right: 7px;
}
span.masspayment-val {
	color: #000;
	float: none;
	margin-right: 5px;
}
span.masspayment-days + span.masspayment-val {
	display: inline-block;
	vertical-align: top;
	width: 40px;
}
span.masspayment-discount {
	color: #999;
	float: none;
}
.masspayment.content__filter .filter-form-field-inp.dropdown {color: #000;}
.transfer__wrap {
	height: 100%;
	padding: 73px 0;
	margin-top: -73px;
}
.transfer {
	height: 100%;
	border-top: 1px solid #ebebeb;
}
.transfer__inner {
	display: table;
	width: 100%; height: 100%;
}
.transfer__cell {
	display: table-cell;
	vertical-align: top;
	width: 33.33%; height: 100%;
	border-left: 1px solid #ebebeb;
}
.transfer__cell:first-child {
	border-left: 0;
}
.transfer__header {
	padding: 0 20px;
}
.transfer__ttl {
	font-family: 'gotham_pro_bold';
	font-size: 15px;
	line-height: 22px;
	height: 50px;
	padding-top: 15px;
}
.transfer__quick-search {
	width: 100%; height: 33px;
	border-radius: 3px;
	background: #f5f5f5;
	padding: 0 12px 1px;
	font-size: 12px;
	border: 0;
	margin-top: 4px;
}
.transfer__quick-search::-webkit-input-placeholder {color: #aaa;} 
.transfer__quick-search::-moz-placeholder {color: #aaa;} 
.transfer__quick-search:-moz-placeholder {color: #aaa;} 
.transfer__quick-search:-ms-input-placeholder {color: #aaa;}
.transfer__list {
	margin-top: 23px;
	border-top: 1px solid #f2f2f2;
	padding: 0 20px;
}
.transfer__item {
	font-family: 'gotham_pro_bold';
	font-size: 13px;
	line-height: 46px;
	height: 47px;
	border-top: 1px solid #f2f2f2;
}
.transfer__item:first-child {
	border-top: 0;
}
.transfer__chck {
	display: none;
}
.transfer__lbl {
	position: relative;
	display: block;
	color: #aaa;
	padding-left: 28px;
	cursor: pointer;
}
.transfer__lbl:after {
	content: "";
	position: absolute;
	left: 0; top: 17px;
	width: 13px; height: 10px;
	background: url(../i/sprite-transfer-check.png) 0 0 no-repeat;
}
.transfer__from .transfer__chck:checked + .transfer__lbl {
	color: #e44848;
}
.transfer__from .transfer__chck:checked + .transfer__lbl:after {
	background-position: 0 -10px;
}
.transfer__to .transfer__chck:checked + .transfer__lbl {
	color: #31ac6b;
}
.transfer__to .transfer__chck:checked + .transfer__lbl:after {
	background-position: 0 -20px;
}
.transfer__lbl-inner {
	display: table;
	table-layout: fixed;
	width: 100%; height: 100%;
}
.transfer__name {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.transfer__name span {
	display: block;
	position: relative;
	height: 100%;
	overflow: hidden;
}
.transfer__name span:after {
	content: "";
	position: absolute;
	top: 0; right: 0;
	width: 19px; height: 100%;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
}
.transfer__val {
	font-size: 12px;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	height: 100%; width: 90px;
	padding-right: 2px;
}
.transfer__summary {
	font-size: 12px;
	line-height: 20px;
	color: #aaa;
	height: 37px;
}
.transfer__summary span {display: block;}
.transfer__layout {
    width: 100%;
    height: 100%;
    padding-top: 160px;
    position: absolute;
    top: 0;
    left: 0;
}
.transfer__footer {
	text-align: right;
	position: absolute; bottom: 0; left: 0;
	width: 100%; height: 73px;
	background: #f0f0f0;
	z-index: 9;
}
.transfer__footer-bot {
	display: inline-block;
	vertical-align: top;
	border-top: 1px solid #f2f2f2;
	height: 73px;
	padding: 19px 20px 0;
}
.accounting-history {
	font-size: 12px;
	width: 100%;
}
.accounting-history tr {
	border-top: 1px solid #f2f2f2;
}
.accounting-history tr:first-child {border-top: 0;}
.accounting-history tr:first-child td {height: 47px;}
.accounting-history td {
	height: 48px;
	vertical-align: middle;
}
.accounting-history td a {
	color: #2a9df6;
	text-decoration: none;
}
.accounting-history td a:hover {text-decoration: underline;}
.accounting-history td:nth-child(2) {
	width: 80px;
	text-align: right;
}
.accounting-history td:nth-child(3) {
	width: 120px;
	text-align: right;
	color: #bbb;
}
.accounting_in {color: #31ac6b;}
.accounting_out {color: #e44848;}
.accounting-brief {
	background: #f0f0f0;
	padding: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.accounting-brief__item {
	background: #fff;
	color: #000;
	border-radius: 3px;
	width: 138px; height: 88px;
	text-align: center;
	padding-top: 16px;
	text-decoration: none;
}
.accounting-brief__item span {
	display: block;
	font-family: 'gotham_pro_bold';
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 7px;
}
.accounting-brief__item p {
	font-family: 'gotham_pro_bold';
	font-size: 11px;
	line-height: 14px;
	color: #bbb;
}
.accounting-ref{
	display: table;
	width: 100%;
}
.accounting-ref__cell {
	display: table-cell;
	vertical-align: top;
}
.accounting-ref .filter-form-elem {width: 100%;}
.accounting-ref__cell:first-child {
	width: 444px;
	padding-right: 10px;
}
.accounting-ref__cell .btn {width: 138px;}
.accounting-ref__val {color: #999;}
.accounting-ref__val span {color: #000;}

.content__filter .selected-state.filter-content-inner {background: #6e6e6e;border-color: #6e6e6e;}
.content__filter .selected-state.filter-content-inner .filter-form-field-inp:not(.active) span.masspayment-days,
.content__filter .selected-state.filter-content-inner .filter-form-field-inp:not(.active) span.masspayment-val {color: #fff;}
.content__filter .selected-state.filter-form-field:after {
	background-image: url(../i/icon-arrow-filter-fff.png);
}
.modal-settings .modal-settings-section {
	position: relative;
	float: none;
	width: 100%;
	border: 0;
	border-top: 1px solid #ebebeb;
	padding: 18px 20px 0;
}
.modal-settings .modal-settings-section + .modal-settings-section {margin-top: 20px;}
.modal-settings .modal-settings-section.limits-follows {
	padding-right: 180px;
}
.modal-settings .modal-settings-section.notifications {padding-top: 14px;}
.modal-settings-p {
	font-size: 12px;
	line-height: 18px;
	color: #999;
	padding: 14px 20px 15px;
}
.modal-settings .modal-settings-section.tokens {padding-top: 0; border-top: 0;}
.modal-settings .modal-settings-section.tokens .tokens-mid {margin-top: 20px;}
.modal-settings .modal-settings-section.tokens .tokens-new {padding: 14px 0; height: 48px;}
.modal-settings .tokens-list-cell {height: 32px;}
.modal-settings .tokens-list-cell:first-child {color: #1eb364;}
.modal-settings .tokens-list-cell:nth-child(2) {color: #bbb;}
.modal-settings .tokens-list-cell:nth-child(3) {width: 100%;color: #1eb364;}
.modal-settings .tokens-list-row.blocked .tokens-list-cell:first-child,
.modal-settings .tokens-list-row.blocked .tokens-list-cell:nth-child(3) {color: #d54343;}
.modal-settings .auth-required-status {
  display: inline-block;
  max-width: 100%;
  color: #999;
  border: 1px solid;
  border-radius: 3px;
  font-family: 'apercu_pro_light';
  font-size: 8px;
  line-height: 18px;
  height: 20px;
  text-transform: uppercase;
  padding: 0 9px;
  margin-top: 3px;
  text-decoration: none;
}
.modal-settings .auth-required-status.green {
	color: #1eb364;
}
.modal-settings .auth-required-status.red {
	color: #d54343;
}
.modal-settings-form-wrap {
	height: 159px;
	padding-top: 20px;
}
.modal-acc-delete-wrap {
	padding: 0 20px 0 10px;
}
.modal-acc-delete-inner {
	display: table;
	width: 100%;
}
.modal-acc-delete-cell {
	display: table-cell;
	width: 33.33%;
	padding-left: 10px;
}
.modal-acc-delete-i {
	background: #f2f2f2;
	padding: 20px 0;
	text-align: center;
}
 .modal-acc-delete-icon {
 	display: inline-block;
 	width: 58px; height: 58px;
 	background: url(../i/sprite-acc-delete.png) no-repeat;
 	margin-bottom: 12px;
 }
 .modal-acc-delete-icon.icon-pause {background-position: 0 0;}
 .modal-acc-delete-icon.icon-lock {background-position: 0 -58px ;}
 .modal-acc-delete-icon.icon-skull {background-position: 0 -116px;}
 .modal-acc-delete-p {
 	font-size: 12px;
 	line-height: 18px;
 	color: #666;
 	margin-bottom: 15px;
 }