.settings {}
.settings-i {border-bottom: 1px solid #ebebeb;}
.settings-head {
	height: 50px;
	background: #fff;
	padding: 15px 19px 0;
}
.settings-head-ttl {
	display: inline-block;
	background: url(../i/arrows-ddd.png) 100% -7px no-repeat;
	padding-right: 11px;
	text-decoration: none;
}
.settings-head-acc {
	display: inline-block;
	vertical-align: top;
	font-family: "apercu_pro_bold";
	font-size: 15px;
	line-height: 20px;
	color: #289bf5;
	background: url(../i/dotted-2a9df6.png) 0 16px repeat-x;
}
@-moz-document url-prefix() {
	.settings-head-acc {background-position: 0 17px;}
}
.settings-head-values {
	display: inline-block;
	vertical-align: top;
	margin: 2px 0 0 3px;
}
.settings-head-val {
	float: left;
	height: 20px;
	color: #bbb;
	font-family: 'apercu_pro_light';
	font-size: 9px;
	line-height: 18px;
	padding: 0 5px;
	border: 1px solid #f0f0f0;
	border-width: 1px;
}
.settings-head-val:first-child {
	border-right-width: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.settings-head-val:last-child {
	border-right-width: 1px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.settings-head.active .settings-head-ttl {background-position: 100% 10px;}
.settings-head.active .settings-head-ttl .settings-head-acc {color: #e65f5f; background-image: url(../i/dotted-d54343.png);}
.settings-body {
	display: none;
	background: #f8f8f8;  
}
.limits-likes {
	float: left;
	width: 58%;
	border-right: 1px solid #ebebeb;
	padding: 13px 20px 15px
}
.limits-range-ruler {
	position: relative;
	margin-top: 3px;
}
.limits-range-lbl {
	font-family: 'apercu_pro_light';
	font-size: 10px;
	line-height: 9px;
	text-transform: uppercase;
	color: #000;
	padding: 0 0 11px 0;
	margin-top: -2px;
}
.limits-range-grade {
	display: block;
	position: absolute; top: 1px;
	width: 100%; height: 19px;
	background: url(../i/sprite-limits-ruler4.png) no-repeat;
	margin-left: -5px;
	padding-left: 5px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.limits-range-grade_0 {
	background-position: -11px -152px;
	margin-left: -2px;
	padding-left: 2px;
}
.limits-range-grade_30 {
	background-position: 30% -133px;
}
.limits-range-grade_45 {
	background-position: 45% -114px;
}
.limits-range-grade_60 {
	background-position: 60% -95px;
}
.limits-range-grade_80 {
	background-position: 80% -57px;
	margin-left: 0;
	margin-right: -5px;
	padding-left: 5px;
}
.limits-range-grade_100 {
	background-position: 100% -38px;
	margin-left: 0;
	margin-right: -2px;
	padding-left: 2px;
}
.limits-max-60 .limits-range-grade_30 {
	background-position: 50% -133px;
}
.limits-max-60 .limits-range-grade_45 {
	background-position: 75% -114px;
}
.limits-max-60 .limits-range-grade_60 {
	background-position: 100% -76px;
	margin-left: 0;
	margin-right: -2px;
	padding-left: 2px;
}
.limits-max-60 .limits-range-grade_120,
.limits-max-60 .limits-range-grade_180 {display: none;}

.risky .limits-range-grade_30 {
	display: none;
}
.risky .limits-range-grade_45 {
	display: none;
}
.risky .limits-range-grade_60 {
	background-position: 33.3% -95px;
}
.limits-follows.risky .limits-range-grade_60 {display: none;}
.risky .limits-range-grade_80 {
	display: none;
}
.risky .limits-range-grade_100 {
	display: none;
}
.risky .limits-range-grade_120 {
	background-position: 66.6% -19px;
	margin-left: 0;
	margin-right: -2px;
	padding-left: 2px;
}
.limits-range-grade_180 {
	background-position: 100% 0;
	margin-left: 0;
	margin-right: -2px;
	padding-left: 2px;
}
.limits-range-wrap {position: relative;}
.limits-range-wrap .filter-form-elem-q {
	height: 21px; right: -21px;
}
.modal-settings .modal-settings-section.limits-notifications {
	line-height: 25px;
	padding-top: 13px;
	padding-bottom: 15px;
	height: 54px;
}
.likes-range {
}
.limits-range-val {
	float: left;
	height: 20px;
	padding: 0 9px;
	line-height: 18px;
	border: 1px solid #ebebeb;
	font-family: 'apercu_pro_mono';
	font-size: 8px;
	text-transform: uppercase;
	border-radius: 3px;
	margin-top: 10px;
}
.limits-range-count {
	float: right;
	line-height: 20px;
	color: #ccc;
	font-family: 'apercu_pro_mono';
	font-size: 8px;
	text-transform: uppercase;
	margin-top: 10px;
}
.limits-range-val.off {
	border-color: #bbb;
	color: #999;
}
.limits-range-val.safe {
	border-color: #1eb364;
	color: #1eb364;
}
.limits-range-val.unsafe {
	border-color: #f4c80b;
	color: #f4c80b;
}
.limits-range-val.dangerous {
	border-color: #f49b28;
	color: #f49b28;
}
.limits-range-val.vdangerous {
	border-color: #e44947;
	color: #e44947;
}
.limits-range-val.unknown {
	border-color: #01224e;
	color: #01224e;
}
.limits-follows {
	overflow: hidden;
	padding: 13px 20px 15px
}
.follows-range {}

.settings .noUi-target {
	height: 21px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	background: #1eb364;
	background: -moz-linear-gradient(left,  #1eb364 0%, #2db65d 12%, #40b954 23%, #5cbf46 36%, #8cc92e 56%, #8fca2d 56%, #b9cf19 61%, #d9cf0b 64%, #f2cf02 68%, #fbcf00 70%, #fbbd04 75%, #fb8523 84%, #ea5a3d 94%, #e44848 100%);
	background: -webkit-linear-gradient(left,  #1eb364 0%,#2db65d 12%,#40b954 23%,#5cbf46 36%,#8cc92e 56%,#8fca2d 56%,#b9cf19 61%,#d9cf0b 64%,#f2cf02 68%,#fbcf00 70%,#fbbd04 75%,#fb8523 84%,#ea5a3d 94%,#e44848 100%);
	background: linear-gradient(to right,  #1eb364 0%,#2db65d 12%,#40b954 23%,#5cbf46 36%,#8cc92e 56%,#8fca2d 56%,#b9cf19 61%,#d9cf0b 64%,#f2cf02 68%,#fbcf00 70%,#fbbd04 75%,#fb8523 84%,#ea5a3d 94%,#e44848 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1eb364', endColorstr='#e44848',GradientType=1 );
}

.settings .risky .noUi-target{
	background: #1eb364;
	background: -moz-linear-gradient(left,  #1eb364 9%, #fbcf00 25%, #e44848 33%, #00224e 60%);
	background: -webkit-linear-gradient(left,  #1eb364 9%,#fbcf00 25%,#e44848 33%,#00224e 60%);
	background: linear-gradient(to right,  #1eb364 9%,#fbcf00 25%,#e44848 33%,#00224e 60%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1eb364', endColorstr='#00224e',GradientType=1 );
}
.settings .limits-range.follows[disabled].noUi-target {
    background: #B8B8B8;
} {
	background: #d0d0d0;
}
.settings .noUi-origin {
	border-radius: 0;
	height: 21px;
}
.settings .noUi-horizontal .noUi-handle {
	width: 21px; height: 21px;
	border-radius: 4px;
	border: 0;
	top: 0;
	left: -10px;
	margin-top: 0;
	background: url(../i/dot-limits-drag.png) 50% 50% no-repeat;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
}
.settings .noUi-handle::before, 
.settings .noUi-handle::after {content: none;}

.blacklist {padding: 15px 20px 10px;}
.blacklist-filter {padding-bottom: 5px;}
.blacklist .filter-form-elem {width: 465px;}
.blacklist .filter-form-elem .filter-form-lbl {width: 90px;}

.blacklist .filter-selected {
	padding: 0;
	border-bottom: 0;
	margin-top: 10px;
}

.tokens {
	padding: 0 19px;
}
.tokens-top {
	padding: 9px 0 15px;
}
.tokens-p {
	font-size: 11px;
	line-height: 17px;
	color: #666;
}
.tokens-top-btn-wrap {margin-top: 10px;}
.tokens-mid {}
.tokens-list {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px dotted #dedede;
}
.tokens-list-row {
	display: table-row;
	border-top: 1px dotted #dedede;
}
.tokens-list-cell {
	display: table-cell;
	height: 40px;
	padding: 0 0 0 18px;
	vertical-align: middle;
	white-space: nowrap;
}
.tokens-list-cell:first-child {padding: 0;}
.tokens-list-cell:nth-child(2) {color: #1eb364;}
.tokens-list-cell:nth-child(3) {color: #bbb;}
.tokens-list-cell:nth-child(4) {
	width: 100%;
	color: #1eb364;
}
.tokens-list-row.blocked .tokens-list-cell:nth-child(2),
.tokens-list-row.blocked .tokens-list-cell:nth-child(4) {color: #d54343;}
.tokens-new {
	height: 40px;
	line-height: 20px;
	padding: 10px 0;
}
.tokens-new a {color: #1eb364; text-decoration: none; display: inline-block;}
.tokens-new a:hover {text-decoration: none; background: url(../i/dotted-00a551.png) 0 15px repeat-x;}

.notifications-wrap {
	padding: 9px 19px;
}
.notifications {
	line-height: 27px;
}
.notifications-i {position: relative;}
.notifications-lbl {
	cursor: pointer;
	vertical-align: middle;
}
.notifications-lbl span {display: inline-block; vertical-align: middle; line-height: 16px;}
.notifications-lbl span>span {vertical-align: top;}
.notifications-lbl span a {color: #289bf5;text-decoration: none;}
.notifications-lbl span a:hover {text-decoration: underline;}
.notifications-chck {
	display: inline-block;
	margin-left: 0;
	margin-top: 4px;
	vertical-align: middle;
}

.personal-section {padding: 0 19px 20px;}
.personal-ttl {
	line-height: 19px; 
	height: 48px;
	font-family: "apercu_pro_bold";
	font-size: 15px;
	padding: 14px 0 0;
}
.personal-acc {width: 330px; margin-bottom: 10px;}
.personal-section + .personal-section {border-top: 1px solid #ebebeb;}
.personal-section:after {content: ""; display: table; clear: both;}
.personal-col {
	float: left;
	width: 318px;
	padding-right: 10px;
}
.personal-col-line {
	height: 33px;
	font-size: 12px;
	line-height: 19px;
	padding: 7px 0 0 10px;
}
.personal-col-line + .personal-col-line {margin-top: 10px;}
.personal-pass-secure {
	display: inline-block;
	background: #f2f2f2;	
	width: 100px; height: 6px;
	margin-right: 7px;
	border: 1px solid #ccc;
	border-bottom: 0;
	position: relative;
	vertical-align: top;
	margin-top: 7px;
}
.personal-pass-secure-in {
	display: block;
	width: 100%; height: 6px;
	background: #1eb364;
	padding-right: 2px;
	position: absolute; top: -1px; left: -1px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.personal-pass-secure.mod .personal-pass-secure-in {width: 66%; background: #f4c80b;}
.personal-pass-secure.bad .personal-pass-secure-in {width: 33%; background: #e44947;}
.personal-pass-msg {display: inline-block; vertical-align: middle;}
	.personal-pass-msg_green {color: #1eb364;}
	.personal-pass-msg_yellow {color: #f4c80b;}
	.personal-pass-msg_red {color: #e44848;}
.personal-img {overflow: hidden;}
.personal-img-preview {
	float: left;
	width: 120px; height: 120px;
}
.personal-img-preview img {border-radius: 3px;}
.personal-img-edit {
	overflow: hidden;
	padding-left: 15px;
	position: relative;
	height: 120px;
}
.personal-img-edit-top {
}
.personal-img-edit-bot {
	font-size: 12px;
	line-height: 18px;
	color: #999;
	position: absolute; bottom: -4px; left: 15px;
}
.personal-bot {
	border-top: 1px solid #ebebeb;
	padding: 20px 19px;
}
.personal-bot-p {
	font-family: "apercu_pro_light";
	font-size: 8px;
	line-height: 11px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	margin-left: 17px;
	color: #bbb;
}
.modal-settings {
  display: none;
  position: fixed; right: 0; left: 0; top: 90px;
  margin: auto auto auto auto;
  background: #fff;
  width: 400px;
  min-height: 428px;
  -webkit-box-shadow: 0 0 20px #969696;
  box-shadow: 0 0 20px #969696;
  z-index: 6;
}
.modal-settings .modal-settings-section {
	position: relative;
	float: none;
	width: 100%;
	border: 0;
	border-top: 1px solid #ebebeb;
	padding: 12px 20px 0;
}
.modal-settings .modal-settings-section + .modal-settings-section {
	margin-top: 15px;
}

.modal-settings-ttl {
	font-family: "apercu_pro_bold";
	font-size: 15px;
	line-height: 18px;
	padding: 15px 20px;
}
.modal-settings-p {
	font-size: 12px;
	line-height: 18px;
	color: #999;
	padding: 14px 20px 15px;
}
.modal-settings .modal-settings-section.tokens {padding-top: 0; border-top: 0;}
.modal-settings .modal-settings-section.tokens .tokens-mid {margin-top: 20px;}
.modal-settings .modal-settings-section.tokens .tokens-new {padding: 14px 0; height: 48px;}
.modal-settings .tokens-list-cell {height: 32px;}
.modal-settings .tokens-list-cell:first-child {color: #1eb364;}
.modal-settings .tokens-list-cell:nth-child(2) {color: #bbb;}
.modal-settings .tokens-list-cell:nth-child(3) {width: 100%;color: #1eb364;}
.modal-settings .tokens-list-row.blocked .tokens-list-cell:first-child,
.modal-settings .tokens-list-row.blocked .tokens-list-cell:nth-child(3) {color: #d54343;}
.modal-settings .auth-required-status {
  display: inline-block;
  max-width: 100%;
  color: #999;
  border: 1px solid;
  border-radius: 3px;
  font-family: 'apercu_pro_light';
  font-size: 8px;
  line-height: 18px;
  height: 20px;
  text-transform: uppercase;
  padding: 0 9px;
  margin-top: 3px;
  text-decoration: none;
}
.modal-settings .auth-required-status.green {
	color: #1eb364;
}
.modal-settings .auth-required-status.red {
	color: #d54343;
}
.modal-settings-form-wrap {
	height: 159px;
	padding-top: 20px;
}
.modal-acc-delete-wrap {
	padding: 0 20px 0 10px;
}
.modal-acc-delete-inner {
	display: table;
	width: 100%;
}
.modal-acc-delete-cell {
	display: table-cell;
	width: 33.33%;
	padding-left: 10px;
}
.modal-acc-delete-i {
	background: #f2f2f2;
	padding: 20px 0;
	text-align: center;
}
 .modal-acc-delete-icon {
 	display: inline-block;
 	width: 58px; height: 58px;
 	background: url(../i/sprite-acc-delete.png) no-repeat;
 	margin-bottom: 12px;
 }
 .modal-acc-delete-icon.icon-pause {background-position: 0 0;}
 .modal-acc-delete-icon.icon-lock {background-position: 0 -58px ;}
 .modal-acc-delete-icon.icon-skull {background-position: 0 -116px;}
 .modal-acc-delete-p {
 	font-size: 12px;
 	line-height: 18px;
 	color: #666;
 	margin-bottom: 15px;
 }
.add-account {padding-bottom: 74px;}
.add-account-bot_fixed {
	width: 100%;
	position: absolute; bottom: 0; left: 0;
	border: 0;
}
.add-account-bot-inner {width: 100%;}

#settings .modal-filter-tab {
	min-height: 302px;
	position: relative;
}