.statistics {}
.statistics__p {
	font-size: 12px;
	line-height: 20px;
	color: #666;
	padding: 16px 20px 17px;
}
.statistics__p a {
	color: #289bf5;
	text-decoration: none;
}
.statistics__p a:hover {text-decoration: underline;}
.statistics__inner {}
.statistics__tbl {
	width: 100%;
	background: #afafaf;
	font-family: 'apercu_pro_light';
	font-size: 8px;
	color: #fff;
	text-transform: uppercase;
}
.statistics__tbl th {
	padding: 0 20px 0 0;
	font-weight: normal;
	height: 33px;
	text-align: right;
	vertical-align: middle;
	border-right: 1px solid #a8a8a8;
}
.statistics__tbl th:first-child,
.statistics__tbl td:first-child {
	width: 80px;
	text-align: left;
	padding-left: 20px;
}
.statistics__tbl th:nth-child(2),
.statistics__tbl td:nth-child(2) {
	width: 110px;
}
.statistics__tbl th:nth-child(3),
.statistics__tbl td:nth-child(3) {
	width: 108px;
}
.statistics__tbl th:nth-child(4),
.statistics__tbl td:nth-child(4) {
	width: 107px;
}
.statistics__tbl th:nth-child(5),
.statistics__tbl td:nth-child(5) {
	width: 108px;
}
.statistics__tbl th:nth-child(6),
.statistics__tbl td:nth-child(6) {
	width: 107px;
}
.statistics__tbl th:nth-child(3n+1) {
	border-right: 0;
	background: #b2b2b2;
}
.statistics__tbl th:nth-child(3n) {
	border-right: 0;
}
.statistics__tbl tbody tr {
	background: #fafafa;
	border-bottom: 1px solid #f0f0f0;
}
.statistics__tbl tbody td {
	height: 68px;
	padding: 0 20px 0 0;
	border-right: 1px solid #f0f0f0;
	vertical-align: middle;
	text-align: right;
}

.statistics__tbl tr:first-child td {
	height: 67px;
}
.statistics__tbl td:first-child {
	text-align: left;
	padding-right: 0;
}
.statistics__tbl td:nth-child(3n+1) {
	border-right: 0;
	background: #fff;
}
.statistics__tbl td:nth-child(3n) {
	border-right: 0;
}
.statistics__status {
	font-family: 'gotham_pro_bold';
	font-size: 19px;
	color: #1eb364;
	height: 19px;
	text-align: left;
	line-height: 10px;
}
.statistics__status:before {
	content: "•";
	margin-left: 1px;
}
.statistics__status.status__off {color: #e44848;}
.statistics__total {	
	font-family: 'gotham_pro_bold';
	font-size: 13px;
	line-height: 14px;
	color: #000;
	height: 19px;
}
.statistics__tbl tbody tr td:nth-child(4) .statistics__total,
.statistics__tbl tbody tr td:nth-child(6) .statistics__total {
	color: #999;
}
.statistics__tbl tbody tr td:nth-child(5) {
	padding: 0;
}
.statistics__tbl tbody tr td:nth-child(5) a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%; height: 100%;
	padding: 0 20px;
	color: #289bf5;
	text-decoration: none;
	justify-content: flex-end;
	align-items: center;
}
.statistics__tbl tbody tr td:nth-child(5) a .statistics__total {color: #289bf5;margin-bottom: 10px;}
.statistics__tbl tbody tr td:nth-child(5) a:hover {text-decoration: underline;}
.statistics__tbl tbody tr td:nth-child(7) .statistics__total {
	color: #000;
}
.statistics__shift {
	font-family: 'apercu_pro_light';
	font-size: 8px;
	color: #999;
	text-transform: uppercase;
	height: 10px;
}
.statistics__shift span {
	font-size: 10px;
}