.content__filter {
	padding: 0 20px;
}
.content__filter .filter-content-inner {
	display: block;
	border: 1px solid #dedede;
	border-radius: 3px;
}
.content__filter .filter-content-form {
	display: table;
	width: 100%;
}
.content__filter .filter-form-row {
	display: table-row;
}
.content__filter .filter-form-cell {
	float: none;
	display: table-cell;
	vertical-align: top;
	height: 31px;
}
.content__filter .filter-form-cell + .filter-form-cell {
	border-left: 1px solid #dedede;
}
.content__filter .filter-form-cell {
	width: 20%;
}
.content__filter .filter-form-elem {
	width: 100%; height: 31px;
	position: relative;
	padding: 0;
	cursor: pointer;
}
.content__filter .filter-form-elem-wrap {
	display: block;
	height: 100%;
	border: 0;
	border-radius: 0;
}
.content__filter .filter-form-field {
	display: block;
	height: 100%;
	max-width: inherit;
}
.content__filter .filter-form-field:after {
	/*content: "";*/
	position: absolute; top: 13px; right: 10px;
	display: block;
	width: 8px; height: 5px;
	background: url(../i/icon-arrow-filter.png) no-repeat;
	z-index: 10;
	pointer-events: none;
}
.content__filter .filter-form-field-inner {
	position: static;
}
.content__filter .filter-form-field-inp.dropdown {
	
	background-image: url(../i/icon-arrow-filter-pad.png);
	height: auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #999;
  width: 100%;
	padding: 6px 9px 8px;
  border: 0;
  cursor: pointer;
}
.content__filter .filter-form-field-dd-i .filter-form-field-val:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 19px;
	height: 100%;
	z-index: 2;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
}
.content__filter .filter-form-cell.filter-form-clear {
	border-left: 0;
	width: auto;
}
.content__filter .filter-form-clear-a {
	float: right;
	border-left: 1px solid #dedede;
	background: url(../i/icon-filter-x.png) 50% 50% no-repeat;
	width: 32px; height: 100%;
}
.content__filter .filter-form-cell.filter-form-blank + .filter-form-blank { border-left: 0;}