.user-nav {
	padding: 0;
}
@-moz-document url-prefix() {
 .user-nav {line-height: 26px;}
}
.user-nav__list {
	font-family: 'gotham_probold';
  font-size: 13px;
  line-height: 27px;
  padding: 28px 0 11px 19px;
  border-bottom: 1px solid #ebebeb;
}
.user-nav__i {
  min-height: 27px;
  color: #bbb;
}
.user-nav__a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.user-nav__a:hover {text-decoration: underline;}
.user-nav__a-add {
  float: right;
  width: 15px; height: 15px;
  background: url(../i/icon-plus-sm.png) 100% 50% no-repeat;
  margin-top: 6px;
}
.user-nav__a.active {color: #e44848;}
.user-nav__a.green {color: #1ba95e;}
.user-nav__a.red {color: #e44848;}
.user-nav__a.grey {color: #bbb;}
.user-nav__i-bubble {
  border: 1px solid #dedede;
  border-radius: 3px;
  margin: 12px -15px 10px;
  padding: 0 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  line-height: 18px;
  position: relative;
}
.user-nav__i-bubble:after {
  content: "";
  display: block;
  position: absolute; top: -4px; left: 16px;
  width: 5px; height: 4px;
  background: url(../i/arrow-nav-bubble.png) no-repeat;
}
.user-nav__i-bubble-inner {padding: 7px 0;}
.user-nav__i-bubble-i {}
.user-nav__i-bubble-i a {
  color: #aaa;
  text-decoration: none;
}
.user-nav__i-bubble-i a:hover {text-decoration: underline;}
.user-nav__support {
	position: absolute;
	bottom: 20px;
	display: block;
	padding-left: 40px;
	line-height: 27px;
	height: 33px;
	background: #ecce76;
  font-family: 'gotham_probold';
	font-size: 11px;
	color: #918152;
	text-decoration: none;
	border-radius: 3px;
	margin-top: 20px;
}
.user-nav__support span {
	display: block;
	padding: 3px 14px 3px 12px;
	border-radius: 0 3px 3px 0;
	background: #f7dd8f;
}
.user-nav__support:before {
	content: "";
	background: url(../i/icon-letter.png) 9px 12px no-repeat;
	display: block;
	width: 40px; height: 33px;
	text-align: center;
	padding-left: 2px;
	position: absolute; top: 0; left: 0;
}
.user-nav__accounts {
	display: block;
	font-family: 'gotham_probold';
  font-size: 13px;
  line-height: 13px;
  color: #000;
  text-decoration: none;
  padding-left: 19px;
  margin-top: 16px;
  background: url(../i/icon-accounts-arrow.png) 0 50% no-repeat;
}
.user-nav__accounts:hover {text-decoration: underline;}