/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
:-moz-placeholder {opacity: 1} 
::-moz-placeholder {opacity: 1}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea, input[type="text"], input[type="submit"] {
  -webkit-appearance: caret;
  -moz-appearance: caret;
  -o-appearance: caret;
  appearance: caret;
}
textarea {
  resize: vertical;
}
input[disabled], textarea[disabled],
select[disabled='disabled']{
 -webkit-text-fill-color: rgba(0, 0, 0, 1); 
 -webkit-opacity: 1; 
 color: rgba(0, 0, 0, 1); 
 background: white;
}

/* ==========================================================================
   Fonts
   ========================================================================== */
   @font-face {
    font-family: 'apercu_pro_mono';
    src: url('../fonts/apercumonopro-regular-webfont.woff') format('woff'),
    url('../fonts/apercumonopro-regular-webfont.ttf') format('truetype'),
    url('../fonts/apercumonopro-regular-webfont.svg#apercu_pro_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'apercu_pro_bold';
    src: url('../fonts/apercupro-bold-webfont.woff') format('woff'),
    url('../fonts/apercupro-bold-webfont.ttf') format('truetype'),
    url('../fonts/apercupro-bold-webfont.svg#apercu_probold') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'apercu_pro';
    src: url('../fonts/apercupro-regular-webfont.woff') format('woff'),
    url('../fonts/apercupro-regular-webfont.ttf') format('truetype'),
    url('../fonts/apercupro-regular-webfont.svg#apercu_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'apercu_pro_light';
    src: url('../fonts/apercupro-light-webfont.woff') format('woff'),
    url('../fonts/apercupro-light-webfont.ttf') format('truetype'),
    url('../fonts/apercupro-light-webfont.svg#apercu_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'gotham_pro';
    src: url('../fonts/gothamproregular-webfont.woff') format('woff'),
    url('../fonts/gothamproregular-webfont.ttf') format('truetype'),
    url('../fonts/gothamproregular-webfont.svg#gotham_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

  }
  @font-face {
    font-family: 'gotham_pro_bold';
    src: url('../fonts/gothamprobold-webfont.woff') format('woff'),
    url('../fonts/gothamprobold-webfont.ttf') format('truetype'),
    url('../fonts/gothamprobold-webfont.svg#gotham_probold') format('svg');
    font-weight: normal;
    font-style: normal;

  }
  @font-face {
    font-family: 'gotham_pro_medium';
    src: url('../fonts/gothampromedium-webfont.woff') format('woff'),
    url('../fonts/gothampromedium-webfont.ttf') format('truetype'),
    url('../fonts/gothampromedium-webfont.svg#gotham_probold') format('svg');
    font-weight: normal;
    font-style: normal;

  }
  @font-face {
    font-family: 'gotham_pro_light';
    src: url('../fonts/gothamprolight-webfont.eot');
    src: local('Gotham Pro Light'), local('GothamPro-Light'),
    url('../fonts/gothamprolight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gothamprolight-webfont.woff') format('woff'),
    url('../fonts/gothamprolight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'apercu_pro_light';
      src: url('../fonts/apercupro-light-webfont.svg#apercu_prolight') format('svg');
    }
    @font-face {
      font-family: 'gotham_pro';
      src: url('../fonts/gothamproregular-webfont.svg#gotham_proregular') format('svg');
    }
    @font-face {
      font-family: 'gotham_pro_bold';
      src: url('../fonts/gothamprobold-webfont.svg#gotham_probold') format('svg');
    }
    @font-face {
      font-family: 'gotham_pro_medium';
      src: url('../fonts/gothampromedium-webfont.svg#gotham_probold') format('svg');
    }
  }

/* ==========================================================================
   Styles
   ========================================================================== */
  body.native-scroll {overflow: auto;}
  .layout {
    height: 100%; 
  }
  .layout__main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    min-width: 1000px;
    background: #f5f5f5;
  }
  .main__content {
    display: block;
    max-width: 720px;
    width: 100%; 
    min-height: 100%;
    background: #fff;
    flex-shrink: 0;    
    margin-left: 280px;
    transition: margin-left .3s ease;
  }
  .content__account {
    width: 200px; height: 100%;
    padding: 20px;
    background: #f5f5f5;
    flex-shrink: 0;
    position: fixed;
    left: 80px; top: 0;
    transition: left .3s ease;
  }
  .layout__lside {
    width: 80px; height: 100%;
    background: #6e6e6e;
    position: fixed;
    left: 0; top: 0;
    margin-left: 0;
    flex-shrink: 0;
    transition: margin-left .3s ease; 
  }
  .lside-visible .layout__lside {
    margin-left: 0;
  }
  .layout__rside {
    position: fixed;
    left: auto; right: 0;top: 0;
    width: 330px; height: 100%;
    background-color: #6e6e6e;
    background-image: url(../i/bg-side-gr-bot.png), url(../i/bg-side-gr-top.png);
    background-position: 0 100%, 100% 0;
    background-repeat: no-repeat;
    flex-shrink: 0;
    z-index: 10;

    visibility: hidden;
    opacity: 0;
    transition: left .3s ease;
  }
  .fade-out-state {
    opacity: 0;
    visibility: hidden;
  }
  .rside-visible .layout__rside.hidden-state,
  .layout__rside.hidden-state {
      visibility: hidden;
      opacity: 0;
  }
  .rside-visible .layout__rside {
      visibility: visible;
      opacity: 1;
    transition: left .3s ease;
  }
  .rside__close {
    position: absolute; 
    top: 0; left: 0;
    display: block;
    background: rgba(0,0,0, .3) url(../i/icon-side-close.png) 50% 20px no-repeat;
    width: 54px; height: 100%;
    transform: translateX(-100%);
  }
  .rside_secondary .rside__close {
    top: 19px; right: 20px; left: auto;
    transform: none;
    width: 13px; height: 13px;
    background: url(../i/icon-notify-x.png) 50% 50% no-repeat;
  }
  .rside__header {
    height: 54px;
    padding: 14px 20px 0;
    border-bottom: 1px solid rgba(255,255,255,.08);
  }
  .rside__navtab {
    float: left;
    position: relative;
    font-family: 'gotham_pro_bold';
    font-size: 13.5px;
    line-height: 22px;
    color: #ccc;
    text-decoration: none;
    margin: 0 8px;
  }
  .rside__navtab:first-child {
    padding-left: 0;
    margin-left: 0;
  }
  .rside__navtab:hover,
  .rside__navtab.active {
    color: #fff;
  }
  .rside__navtab.active:after {
    content: "";
    position: absolute;
    bottom: -17px; left: 0;
    width: 100%; height: 3px;
    background: #31ac6b;
  }
  .rside__tab {
    display: none;
  }
  .rside__statbar {
    height: 106px;
    padding: 20px 20px 20px 16px;
    border-bottom: 1px solid rgba(255,255,255,.08);
  }
  .statbar__inner {
    font-size: 0;
  }
  .statbar__cell {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 3px;
    background: rgba(0,0,0,.1);
    padding-top: 18px;
    margin-left: 4px;
    width: 94px; height: 65px;
    font-family: 'apercu_pro_light';
    font-size: 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ccc;
  }
  .statbar__cell span {
    display: block;
    font-family: 'gotham_pro_light';
    font-size: 15px;
    text-transform: none;
    color: #fff;
    margin-bottom: 5px;
  }
  .rside__info-well {
    padding: 20px;
  }
  .rside__info-well + .rside__info-well {
    border-top: 1px solid rgba(255,255,255,.08);
  }
  .info-well__inner {
    display: table;
    width: 100%;
  }
  .info-well__cell {
    display: table-cell;
    width: 94px;
    line-height: 17px;
    vertical-align: middle;
  }
  .info-well__cell:first-child {
    width: auto;
  }
  .info-well__p {
    display: block;
    font-family: 'gotham_pro_bold';
    font-size: 13.5px;
    color: #fff;
    text-decoration: none;
    margin-top: 1px;
  }
  .info-well__p:last-child {
    padding-bottom: 3px;
  }
  .info__account_status:after {
    content: "•";
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    line-height: 13px;
    color: #31ac6b;
    margin: 2px 0 0 7px;
  }
  .info__account_status.status_hold:after {color: #d1ba58;}
  .info__account_status.status_off:after {color: #f36a6a;}
  .info-well__lbl {
    font-family: 'apercu_pro_light';
    font-size: 8px;
    line-height: 15px;
    color: #999;
    text-transform: uppercase;
  }
  .rside__ttl {
    display: block;
    background: rgba(0,0,0, .07);
    color: #aaa;
    padding: 0 20px;
    height: 33px;
    font-family: 'apercu_pro_light';
    font-size: 8px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .notification__wrap {
    position: relative;
    height: 100%;
    padding-bottom: 73px;
  }
  .notification__holder {
    height: 100%;
    overflow: hidden;
    padding: 0 20px;
  }
  .notification__wrap .slick-prev.slick-arrow {
    display: none !important;
  }
  .notification__bot {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    padding: 20px;
    font-size: 0;
  }
  .notification__slide-nav {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 141px;
    margin-right: 8px;
  }
  .layout__rside .notification__bot .btn_rside {
    width: 141px;
  }
  .notification__slide-back {
    display: none;
    position: absolute;
    top: 0; right: 0;
    width: 33px; height: 33px;
    background: url(../i/icon-notify-btn-x.png) 50% 50% no-repeat;
  }
  .notification__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    overflow: hidden;
  }
  a.notification__inner {
    justify-content: flex-start;
  }
  .notification__img {
    border-radius: 50%;
    margin-right: 12px;
  }
  .notification__item {
    display: block;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0, .06);
    padding: 13px 0 14px;
    text-decoration: none;
  }
  .notification__item:hover {text-decoration: none;}
  .notification__item:after {
    content: none;
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    width: 6px; height: 6px;
    border-radius: 50%;
    background: transparent;
  }
  .notification__item.yellow-light:after {
    content: "";
    background: #d0b959;
  }
  .notification__item.red-light:after {
    content: "";
    background: #f36a6a;
  }
  .notification__item.green-light:after {
    content: "";
    background: #31ac6b;
  }
  .notification__item.grey-light:after {
    content: "";
    background: #626262;
  }
  .notification__time {
    font-family: 'apercu_pro_light';
    font-size: 10px;
    line-height: 17px;
    color: #999;
    text-transform: uppercase;
  }
  .notification__msg {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .notification__msg span {
    color: #fff;
  }
  .notification__arrow {
    opacity: .5;
    display: block;
    width: 35px; height: 35px;
    background: url(../i/icon-notify-arrow.png) 100% 50% no-repeat;
  }
  .notification__arrow:hover {opacity: 1;}
  .rside__help-center {
    padding: 21px 20px 20px 20px;
  }
  .help-center__inner {
    display: table;
    width: 100%;
  }
  .help-center__cell {
    display: table-cell;
    width: 94px;
    vertical-align: middle;
  }
  .help-center__cell:first-child {width: auto;}
  .help-center__cell input {
    background: #fff;
    font-size: 12px;
    border-radius: 3px;
    padding: 1px 13px 0;
    width: 192px; height: 33px;
    border: 0;
  }
  .rside__help-faq {    
    padding: 0 20px;
  }
  .help-faq__inner {
    border-top: 1px solid rgba(0,0,0, .06);
    padding: 11px 0 0;
  }
  .help-faq__item {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #ccc;
    display: block;
    text-decoration: none;
  }
  .help-faq__item:hover {text-decoration: underline;}

  .rside__filtering {
    padding: 0 20px;
    border-top: 1px solid rgba(255,255,255,.08);
  }
  .filtering__wrap {
    position: relative;
    padding: 15px 0 0;
    font-size: 12px;
    line-height: 20px;
  }
  .filtering__tbl {
    width: 100%;
    color: #999;
  }
  .filtering__tbl td {
    height: 25px;
    vertical-align: top;
  }
  .filtering__tbl tr:first-child td:last-child:before {
    content: "";
    position: absolute;
    top: 15px; right: 75px; bottom: 11px;
    background: #999;
    width: 1px;
  }
  .filtering__tbl tr:first-child td:last-child:after {
    content: "";
    width: 4px; height: 4px;
    border: 1px solid #999;
    border-width: 0 0 1px 1px;
    position: absolute;
    bottom: 10px; right: 73px;
    transform: rotate(-45deg);
  }
  .filtering__tbl td:first-child {width: 128px;}
  .filtering__tbl td:nth-child(3) {
    width: 74px;
    text-align: right;
    color: #fff;
  }
  .filtering__tbl td a {
    color: #bbb;
    text-decoration: none;
  }
  .filtering__tbl td a:hover {text-decoration: underline;}
  .filtering__total {
    border-top: 1px solid #6a6868;
    padding: 14px 0 0;
    margin-top: 9px;
  }
  .filtering__total table {
    width: 100%;
    color: #bbb;
  }
  .filtering__total td {
    height: 25px;
    vertical-align: top;
  }
  .filtering__total td:nth-child(2) {
    color: #fff;
    text-align: right;
  }

  .lside__header {
    position: absolute;
    display: block;
    width: 100%; height: 80px;
    padding: 20px;
  }
  .lside__header-a {
    display: block;
    width: 40px; height: 40px;
    background: url(../i/icon-accounts-like.png) 50% 50% no-repeat;
    border: 3px solid #808080;
    border-radius: 50%;
  }
  .layout__rside .btn {
    width: 100%;
    text-align: center;
    transition: color .3s ease, background .3s ease;
  }
  .layout__rside .btn:hover {
    color: #ddd;
    background: rgba(255,255,255, .05);
  }
  .layout__section {
    padding: 0 20px;
  }
  .payment__agp {
    width: 100%;
    border-radius: 3px;
    margin: 20px 0 -1px;
  }
  .payment__info {
    border-top: 1px solid #f2f2f2;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    padding: 16px 0 17px;
  }
  .payment__info a {
    color: #2a9df6;
    text-decoration: none;
  }
  .payment__info a:hover {
    text-decoration: underline;
  }
  .payment__tools {
  }
  .layout__header {
    position: relative;
    z-index: 2;
  }
  .layout__header_fixed {
    position: fixed;
    top: 0;
    width: 720px;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
  }
  .title {
    padding: 0 20px 0 19px;
    padding-top: 21px;
    padding-bottom: 19px;
  }
  .title__h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'gotham_pro_bold';
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
  }
  .title__sub {
    font-family: 'gotham_pro_bold';
    font-size: 13px;
    line-height: 18px;
    color: #666;
    margin-top: 2px;
  }
  .title__sub a {
    color: #2a9df6;
    text-decoration: none;
  }
  .title__sub a:hover {
    text-decoration: underline;
  }
  .title__q {
    display: inline-block;
    background: url(../i/icon-question-grey.png);
    width: 11px; height: 11px;
    margin: 4px 0 0 5px;
    vertical-align: middle;
    display: none;
  }
  .title__btn {
    float: right;
    margin-top: -1px;
  }
  .title__bubble {
    clear: both;
    margin: 17px 0 3px;
    position: relative;
    border: 1px solid #dedede;
    border-radius: 3px;
    color: #666;
    font-size: 11px;
    line-height: 17px;
    padding: 6px 40px 7px 10px;
  }
  .title__bubble:after {
    content: "";
    position: absolute; top: -4px; left: 16px;
    background: url(../i/arrow-top-bubble.png);
    width: 7px; height: 4px;
  }
  .title__bubble a {color: #1eb364; text-decoration: none;}
  .title__bubble a:hover {text-decoration: underline;}
  .title__bubble-x {
    display: block;
    width: 15px; height: 15px;
    position: absolute; top: 50%; right: 10px;
    margin-top: -8px;
    background: url(../i/icon-x-o-mid-grey.png);
  }

  .page__tabs {
    padding: 0 19px 16px;
    font-size: 0;
    border-bottom: 1px solid #e6e6e6;
  }
  .page__navtabs {}
  .page__nav {
    position: relative;
    display: inline-block;
    font-family: 'gotham_pro_bold';
    font-size: 13.5px;
    line-height: 22px;
    color: #000;
    margin-right: 18px;
    text-decoration: none;
  }
  .page__nav.active {color: #e44848;}
  .page__nav.active:after {
    content: "";
    position: absolute;
    bottom: -16px; left: 0;
    width: 100%; height: 3px;
    background: #e44848;
  }
  .active .page__nav-grey,
  .page__nav-grey {
    color: #999;
  }
  .page__tab {
    height: 100%;
  }
  .content__grid {
    display: table;
    width: 100%;
  }

/* ==========================================================================
   Media Queries
   ========================================================================== */

   @media only screen and (min-width: 320px) {

   }
   @media only screen and (min-width: 1000px) {
   }
   @media only screen and (min-width: 1024px) {
    .rside_secondary.layout__rside.visible-state {
      visibility: visible;
      opacity: 1;
    }
    .rside-visible .layout__rside.rside_main + .rside_secondary {
      visibility: hidden;
      opacity: 0;
    }
    .layout__rside.rside_main + .rside_secondary.visible-state,
    .rside-visible .layout__rside.rside_main.hidden-state + .rside_secondary {
      visibility: visible;
      opacity: 1;
    }
  }
  @media only screen and (min-width: 1280px) {
    .layout__main {}
    .layout__lside {
      margin-left:0;
    }
    .rside-visible .layout__lside {
      margin-left: -80px;
    }
    .rside-visible .content__account {
      left: 0;
    }
    .rside-visible .main__content {
      margin-left: 200px;
    }
    .layout__rside {
      visibility: hidden;
      opacity: 0;
      left: 1000px;
      transform: translateX(0);
    }
    .rside-visible .layout__rside {
      left: 920px;
      transition: left .3s ease;
    }
    .rside-visible .layout__rside.rside_main {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      transition: left .3s ease;
    }
    .rside-visible .layout__rside.rside_main.hidden-state {
      visibility: hidden;
      opacity: 0;
    }
    .rside__close {
      display: none;
    }
    .rside_secondary .rside__close {display: block;}
  }
  @media only screen and (min-width: 1330px) {  
    .rside-visible .layout__lside {
      margin-left: 0;
    }
    .rside-visible .content__account {
      left: 80px;
    }
    .rside-visible .main__content {
      margin-left: 280px;
    }
    .layout__rside.rside_main {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
    .rside-visible .layout__rside {
      left: 1000px; right: auto;
    }
    .layout__rside.rside_main.hidden-state {
      visibility: hidden;
      opacity: 0;
    }
    .breadcrums__bell {display: none;}
  }
  @media only screen and (min-width: 1660px) {
    .layout__main.layout-centered {
      justify-content: center;
    }
  }
  @media only screen and (min-width: 1920px) {
  }

/* ==========================================================================
   Retina-specific stuff
   ========================================================================== */
   @media 
   (-webkit-min-device-pixel-ratio: 2), 
   (min-resolution: 192dpi) { 
    .channel-control {
      background-image: url(../i/sprite-channels-control@2x.png);
      background-size: 120px 320px;
    }
    .user-card-control-a {
      background-image: url(../i/sprite-card-control@2x.png);
      background-size: 45px 45px;
    }
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */
   .text-red {color: #e44848 !important;}
   .text-green {color: #1eb364 !important;}
   .fll {float: left;}
   .flr {float: right;}
   /*clearfix*/
   .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }