/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
:-moz-placeholder {opacity: 1} 
::-moz-placeholder {opacity: 1}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea, input[type="text"], input[type="submit"] {
  -webkit-appearance: caret;
  -moz-appearance: caret;
  -o-appearance: caret;
  appearance: caret;
}
textarea {
  resize: vertical;
}
input[disabled], textarea[disabled],
select[disabled='disabled']{
   -webkit-text-fill-color: rgba(0, 0, 0, 1); 
   -webkit-opacity: 1; 
   color: rgba(0, 0, 0, 1); 
   background: white;
}

/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
    font-family: 'apercu_pro_mono';
    src: url('../fonts/apercumonopro-regular-webfont.woff') format('woff'),
         url('../fonts/apercumonopro-regular-webfont.ttf') format('truetype'),
         url('../fonts/apercumonopro-regular-webfont.svg#apercu_pro_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'apercu_pro_bold';
    src: url('../fonts/apercupro-bold-webfont.woff') format('woff'),
         url('../fonts/apercupro-bold-webfont.ttf') format('truetype'),
         url('../fonts/apercupro-bold-webfont.svg#apercu_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'apercu_pro';
    src: url('../fonts/apercupro-regular-webfont.woff') format('woff'),
         url('../fonts/apercupro-regular-webfont.ttf') format('truetype'),
         url('../fonts/apercupro-regular-webfont.svg#apercu_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'apercu_pro_light';
    src: url('../fonts/apercupro-light-webfont.woff') format('woff'),
         url('../fonts/apercupro-light-webfont.ttf') format('truetype'),
         url('../fonts/apercupro-light-webfont.svg#apercu_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_probold';
    src: url('../fonts/gothamprobold-webfont.woff') format('woff'),
         url('../fonts/gothamprobold-webfont.ttf') format('truetype'),
         url('../fonts/gothamprobold-webfont.svg#gotham_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* ==========================================================================
   Styles
========================================================================== */

html, body {height: 100%;}
body {overflow: hidden;}
.page {width: 100%; height: 100%; background: #dcdcdc;padding-top: 57px;}

.header {
  background: #000;
  height: 57px;
  min-width: 1024px;
  width: 100%;
  position: fixed; top: 0; left: 0;
  z-index: 10;
}
.header-inner {max-width: 1024px;}
.header-menu {
  float: left;
  width: 49px; height: 57px;
  background: url(../i/icon-burger-fff.png) 50% 50% no-repeat;
}
.header-logo {
  float: left;
  width: 117px; height: 16px;
  background: url(../i/logo2.png) 50% 50% no-repeat;
  margin: 21px 0 0 22px;
}
.header-lang {
  float: left;
  width: 55px;
  margin: 15px 0 0 22px;
}
.header-lang .filter-form-elem-wrap {
  border-color: #383838;
  height: 25px;
}
.header-lang .filter-form-field-inp.dropdown {
  color: #666;
  background-image: url(../i/icon-burger-383838.png);
}
.header-lang .filter-form-field-dd {padding-top: 37px;}
.header-lang .filter-form-field-dd:after {top: 37px;}
.header-nav {
  float: left;
  font-family: 'apercu_pro_bold';
  font-size: 17px;
  line-height: 20px;
  margin-left: 32px;
}
.header-nav-i {
  float: left;
  height: 57px;
  margin: 0 3px 0 18px;
  position: relative;
}
.header-nav-a {
  color: #fff;
  display: block;
  margin-top: 17px;
  text-decoration: none;
}
.header-nav-a.active {
  color: #e44848;
}
.header-nav-a.inactive {
  color: #4d4d4d;
  cursor: default;
}
.header-nav-a.active:after {
  content: "";
  position: absolute; bottom: 0; left: 50%;
  margin-left: -3px;
  width: 7px; height: 4px;
  background: url(../i/arrow-up-fff.png);
}
.header-nav_r {float: right;}
.header-nav_r .header-nav-i:last-child {margin: 0 3px;}
.header-nav-a-c {color: #1eb364;}
.header-nav-close {
  width: 49px; height: 57px;
  background: url(../i/icon-x-o-mid.png) 50% 50% no-repeat;
}
.header-support {
  padding: 15px 20px 0 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  width: 120px;
}
.header-support .filter-form-elem-wrap {
  border-color: #353535;
  background: #353535;
  height: 25px;
}
.header-support .filter-form-field-inp.dropdown {
  color: #a3a3a3;
  font-family: "apercu_pro_light";
  font-size: 10px;
  text-transform: uppercase;
  padding: 0 9px 2px 28px;
  background: url(../i/icon-burger-969696.png) 10px 50% no-repeat;
}
.header-support .filter-form-field-dd {padding-top: 37px;}
.header-support .filter-form-field-dd:after {top: 37px;}

.page-inner {
  height: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
.page-inner_oh {overflow: hidden;}
.page-layout-wrap {
  position: relative;
  max-width: 1024px;
  height: 100%;
}
.page-layout-static {max-width: 1024px;}
.page-layout {
  width: 100%; height: 100%;
  min-width: 1024px;
}
.page-col {
}
.page-col.left-bar {
  background: #383838;
  width: 70px; height: 100%;
  position: fixed; top: 0; left: 0;
  padding-top: 57px;
  z-index: 2;
}

.left-nav {
  margin-top: 15px;
}
.left-nav-i {
  padding: 0 15px;
  position: relative;
  margin-bottom: 15px;
}
.left-nav-social {
  display: block;
  width: 29px; height: 29px;
  background: url(../i/sprite-social-landing.png) no-repeat;
}
.left-nav-social_vk {
  background-position: -29px -58px;
}
.left-nav-social_fb {
  background-position: -58px -58px;
}
.left-nav-social_in {
  background-position: 0 -58px;
}
.left-nav-a {
  display: block;
  height: 40px;
}
.left-nav-a img {border-radius: 3px;}
.left-nav-back {
  display: block;
  height: 40px;
  background: url(../i/icon-go-back.png) 50% 50% no-repeat;
  border: 1px solid #515151;
  border-radius: 3px;
}
.left-nav-add {
  display: block;
  height: 40px;
  border: 1px solid #515151;
  background: url(../i/icon-plus-2.png) 50% 50% no-repeat;
  border-radius: 3px;
}
.left-nav-pay {
  display: block;
  height: 40px;
  background: #474747 url(../i/icon-buck.png) 50% 50% no-repeat;
  border-radius: 3px;
}
.left-nav-a.active:after {
  content: "";
  width: 4px; height: 7px;
  position: absolute; top: 50%; right: 0;
  background: url(../i/arrow-left-f2f2f2.png);
  margin-top: -3px;
}
.left-nav-more {
  position: absolute; bottom: 0;
  width: 70px;
}
.left-nav-more-a {
  display: block;
  height: 40px;
  background: url(../i/icon-ellipsis.png) 50% 50% no-repeat;
  border: 1px solid #515151;
  border-radius: 3px;
}
.page-col.user-bar {
  width: 180px; height: 100%;
  padding: 15px;
  background: #f7f7f7;
  position: fixed; left: 70px; top: 0;
  padding-top: 72px;
  z-index: 3;
}

.user-card {
  background: #afafaf;
}
.user-card-inner {padding: 15px 15px 0;}
.user-card-inner img {border-radius: 3px;}
.user-card-name-wrap {
  border-bottom: 1px dotted #c1c1c1;
}
.user-card-name {
  display: block;
  font-family: 'apercu_pro_bold';
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  padding: 10px 0;
  margin-right: -14px;
  white-space: nowrap;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.user-card-name:hover {text-decoration: underline;}
.user-card-name:after {
  content: "";
  background: url(../i/shader-ltr-afafaf.png);
  display: block;
  width: 39px; height: 100%;
  position: absolute; top: 0; right: -7px;
}
.user-card-stat {
  display: table;
  width: 100%;
  margin: 8px 0 10px;
}
.user-card-stat-row {
  display: table-row;
}
.user-card-stat-cell {
  display: table-cell;
  font-size: 11px;
  line-height: 18px;
  color: #fff;
}
.user-card-stat-cell:first-child {padding-right: 7px;}
.user-card-control {
  padding: 10px 0;
  border: 1px dotted #c1c1c1;
  border-width: 1px 0;
  height: 35px;
}

.user-card-control-a {
  display: block;
  width: 15px; height: 15px;
  background: url(../i/sprite-card-control.png);
}
.user-card-control-play {float: right; margin-left: 8px; background-position: 0 -30px;}
  .user-card-control-play:hover {background-position: -15px -30px;}
  .user-card-control-play.active {background-position: -30px -30px;}
.user-card-control-pause {float: right; background-position: 0 -15px;}
  .user-card-control-pause:hover {background-position: -15px -15px;}
  .user-card-control-pause.active {background-position: -30px -15px;}
.user-card-control-tools {float: left; background-position: 0 0;}
  .user-card-control-tools:hover {background-position: -15px 0;}
  .user-card-control-tools.active {background-position: -30px 0;}
.user-card-more {
  height: 37px;
  padding: 9px 0 10px;
}
.user-card-more-a {
  display: inline-block;
  font-size: 11px;
  line-height: 18px;
  color: #fff;
  background: url(../i/icon-question-fff.png) 100% 4px no-repeat;
  text-decoration: none;
  padding-right: 15px;
}
.user-card-more-a span {
  display: block;
  background: url(../i/dotted-fff.png) 0 14px repeat-x;
}
.user-card-select {
}
.user-card-bot {
  background: #1ba95e;
  height: 40px;
  padding: 10px 15px;
}
.user-card-bot-date {
  font-size: 11px;
  line-height: 20px;
  float: left;
  color: #fff;
}
.user-card-bot-btn {
  float: right;
  line-height: 18px;
  height: 20px;
  font-family: "apercu_pro_light";
  color: #fff;
  font-size: 9px;
  text-transform: uppercase;
  padding: 0 3px;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 3px;
}
  .user-card.help {padding-bottom: 15px;background: #e4e4e4;}
  .user-card.help .filter-form-elem-wrap {border-color: #fff; background: #fff;}
  .user-card.help .filter-form-field-inp {color: #999;}
  .user-card.help .filter-form-field-inp::-webkit-input-placeholder {color: #999;} 
  .user-card.help .filter-form-field-inp:-moz-placeholder {color: #999;} 
  .user-card.help .filter-form-field-inp::-moz-placeholder {color: #999;}
  .user-card.green {background: #1eb364;}
  .user-card.green .user-card-name-wrap,
  .user-card.green .user-card-control {border-color: #64c48b;}
  .user-card.green .user-card-name:after {background-image: url(../i/shader-ltr-1eb364.png);}

  .user-card.red {background: #e44848;}
  .user-card.red .user-card-name,
  .user-card.red .user-card-name-wrap,
  .user-card.red .user-card-control {border-color: #ea7979;}
  .user-card.red .user-card-name:after {background-image: url(../i/shader-ltr-e44848.png);}
  .user-card.red .user-card-bot{background: #cf3535;}

.user-profile-card {background: #e8e8e8; border: 1px solid #e8e8e8;}
  .user-profile-card .user-card-name-wrap {border-color: #b8b8b8;}
  .user-profile-card .user-card-name, .user-profile-card .user-card-stat-cell {color: #000;}
  .user-profile-card .user-card-name:hover {text-decoration: none;}
  .user-profile-card .user-card-name:after {background-image: url(../i/shader-ltr-e8e8e8.png);}
.user-nav {
  font-family: 'apercu_pro_bold';
  font-size: 15px;
  line-height: 30px;
  padding: 19px 15px 0;
}
@-moz-document url-prefix() {
 .user-nav {line-height: 26px;}
}
.user-nav-list {}
.user-nav-i {
  min-height: 30px;
  color: #bbb;
}
.user-nav-a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.user-nav-a:hover {text-decoration: underline;}
.user-nav-a-add {
  float: right;
  width: 15px; height: 15px;
  background: url(../i/icon-plus-sm.png) 100% 50% no-repeat;
  margin-top: 6px;
}
.user-nav-a.active {color: #e44848;}
.user-nav-a.green {color: #1ba95e;}
.user-nav-a.grey {color: #bbb;}
.user-nav-i-bubble {
  border: 1px solid #dedede;
  border-radius: 3px;
  margin: 12px -15px 10px;
  padding: 0 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  line-height: 18px;
  position: relative;
}
.user-nav-i-bubble:after {
  content: "";
  display: block;
  position: absolute; top: -4px; left: 16px;
  width: 5px; height: 4px;
  background: url(../i/arrow-nav-bubble.png) no-repeat;
}
.user-nav-i-bubble-inner {padding: 7px 0;}
.user-nav-i-bubble-i {}
.user-nav-i-bubble-i a {
  color: #aaa;
  text-decoration: none;
}
.user-nav-i-bubble-i a:hover {text-decoration: underline;}
.page-col.content {background: #fff; height: 100%; padding: 0 0 0 250px; z-index: 0;position: relative;}
.content-holder {position: relative; background: #fff;height: 100%;}
.breadcrumbs {
  height: 40px;
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #f2f2f2;
}
.breadcrumbs-list {
  font-size: 11px;
  line-height: 20px;
}
.breadcrumbs-a {
  color: #000;
  padding-right: 6px;
  display: inline-block;
}
.breadcrumbs-a a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}
span.breadcrumbs-a {color: #999;}
span.breadcrumbs-a a {color: #999;}
a.breadcrumbs-a {
  color: #000;
  text-decoration: none;
}
a.breadcrumbs-a:hover, .breadcrumbs-a a:hover {text-decoration: none; color: #d54343;}
.breadcrumbs-a + .breadcrumbs-a {padding-left: 12px; background: url(../i/arrow-double-right.png) 0 50% no-repeat;}

.content-warning {
  background: #e44848;
  color: #fff;
  line-height: 20px;
  display: table;
  width: 100%; height: 37px;
  text-decoration: none;
}
.content-warning-a {
  background: #cb2d2d;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 151px;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  padding-bottom: 2px;
}
.content-warning .content-warning-a span {text-decoration: none;}
.content-warning:hover .content-warning-a span {text-decoration: underline;}
.content-warning-p {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
}
.content-warning-p a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.content-warning-p a:hover {text-decoration: underline;}
.content-warning-p-q {
  display: inline-block;
  vertical-align: middle;
  width: 11px; height: 11px;
  background: url(../i/icon-question-fff-o30.png);
  margin-left: 7px;
}
.content-warning-btn-wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding: 0 20px;
}
.content-warning-btn {
  display: inline-block;
  height: 20px;
  font-family: "apercu_pro_light";
  font-size: 8px;
  color: #fff;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 8px;
  border-radius: 3px;
  background: #d54343;
}
.content-warning_notice {background-color: #d4ebfd;}
.content-warning_notice .content-warning-p {color: #666;}
.content-warning_notice .content-warning-btn {background-color: #7fc4f9;}
.content-ttl {
  padding: 20px 20px 23px;
}
.content-ttl-h1 {
  font-family: 'gotham_probold';
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
}
.content-ttl-h1 a {
  color: #289bf5;
  text-decoration: none;
}
.content-ttl-h1 a:hover {text-decoration: underline;}
.content-ttl-h1 span {color: #bbb;}
span.content-ttl-green {color: #1eb364;}
.content-ttl-q {
  display: inline-block;
  background: url(../i/icon-question-grey.png);
  width: 11px; height: 11px;
  margin: 4px 0 0 5px;
  vertical-align: middle;
  display: none;
}
.content-ttl-control {
  float: right;
}
.content-ttl-a {
  color: #1eb364;
}
.content-ttl-a.blue{
  color: #289bf5;
}
.content-ttl-a:hover {text-decoration: underline;}
.content-ttl-a + .btn {margin-left: 9px;}
.content-bubble {
  clear: both;
  margin: 17px 0 3px;
  position: relative;
  border: 1px solid #dedede;
  border-radius: 3px;
  color: #666;
  font-size: 11px;
  line-height: 17px;
  padding: 6px 40px 7px 10px;
}
.content-bubble:after {
  content: "";
  position: absolute; top: -4px; left: 16px;
  background: url(../i/arrow-top-bubble.png);
  width: 7px; height: 4px;
}
.content-bubble a {color: #1eb364; text-decoration: none;}
.content-bubble a:hover {text-decoration: underline;}
.content-bubble-x {
  display: block;
  width: 15px; height: 15px;
  position: absolute; top: 50%; right: 10px;
  margin-top: -8px;
  background: url(../i/icon-x-o-mid-grey.png);
}

.filter-content {
  background: #f0f0f0;
  padding: 20px;
}
.filter-content-inner {
  display: table;
  width: 100%;
}
.filter-content-btn {
  display: table-cell;
  width: 1%;
  vertical-align: top;
}
.filter-content-form {
  display: table-cell;
  vertical-align: top;
}
.filter-form-row:after {content: ""; display: table; clear: both;}
.filter-form-row.also {display: none;}
.filter-form-cell {
  float: left;
  width: 25%;
}
.filter-content .filter-form-elem {padding-right: 10px;}
.filter-content .filter-form-cell {width: 33.33%;}
.filter-content .filter-form-lbl {width: 60px; padding-right: 10px;}
.filter-content .filter-form-lbl_wide {width: 88px;}
.filter-content .filter-form-lbl_auto {width: auto; white-space: nowrap; padding-right: 0;}
.filter-content .filter-form-lbl_auto + .filter-form-field {width: 100%;}
.filter-form-cell.filter-form-cell_last {width: 43px;}
.filter-content .filter-form-elem-wrap {background: #fff;}
.filter-form-row + .filter-form-row .filter-form-cell {padding-top: 10px;}
.filter-form-row.also {}
.filter-content-btn-i {
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #999;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: "apercu_pro_light";
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 33px;
  white-space: nowrap;
  text-transform: uppercase;
}
.filter-content-btn-i span {
  border-radius: 0px 3px 3px 0px;
  display: inline-block;
  height: 100%;
  left: 0px;
  line-height: 29px;
  padding: 0px 9px;
  position: relative;
  top: 0px;
  vertical-align: middle;
}
.filter-content-btn-i.active {
  color: #d54343;
  border-color: #d54343;
}
.filter-content-btn-i_green {
  background: #1eb364;
  border: 0;
  color: #fff;
}
.filter-content .filter-form-cell_22p {width: 22%;}
.filter-content .filter-form-cell_42p {width: 42%;}
.filter-content .filter-form-cell_36p {width: 36%;}
.filter-content .filter-form-cell_w192 {width: 192px;}
.filter-content .filter-form-cell_w276 {width: 276px;}
.filter-content .filter-form-cell_w280 {width: 280px;}
.filter-content .filter-form-cell_w344 {width: 344px;}
.filter-content .filter-form-cell_w372 {width: 372px;}
.filter-content_green {background: #1eb364;}
.filter-content_green .filter-content-btn {width: 51px;}
.filter-content_green .filter-content-btn-i {border-color: #fff; color: #fff;}
.filter-content_green .filter-content-form {margin-right: 51px;}

.icon-pay {
  display: block;
  width: 19px; height: 21px;
  background: url(../i/sprite-payment-methods.png) no-repeat;
}
.icon-pay.icon-pay_cc {background-position: 0 5px;}
.icon-pay.icon-pay_pp {background-position: 0 -18px;}
.icon-pay.icon-pay_yam {background-position: 0 -40px;}
.icon-pay.icon-pay_wm {background-position: 0 -60px;}
.icon-pay.icon-pay_cash {background-position: 0 -81px;}
.icon-pay.icon-pay_mob {background-position: 0 -104px;}
.icon-pay.icon-pay_qw {background-position: 0 -122px;}
.icon-pay.icon-pay_sb {background-position: 0 -143px;}
.icon-pay.icon-pay_alfa {background-position: 0 -164px;}
.icon-pay.icon-pay_psb {background-position: 0 -185px;}
.icon-pay.icon-pay_self {background-position: 0 -204px;}

.filter-selected {
  padding: 10px 20px 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
}
.filter-selected-top {padding-bottom: 5px;}
.filter-selected-clear {
  background: transparent;
  display: inline-block;
  vertical-align: top;
  font-family: 'apercu_pro';
  font-size: 8px;
  line-height: 18px;
  height: 20px;
  color: #d54343;
  border: 1px solid #d54343;
  border-radius: 2px;
  padding: 0 7px;
  margin: 0 3px 5px 0;
  text-transform: uppercase;
}
.filter-selected-i {
  display: inline-block;
  vertical-align: top;
  font-family: 'apercu_pro';
  font-size: 8px;
  color: #adadad;
  line-height: 18px;
  height: 20px;
  border-radius: 2px;
  padding: 0 25px 0 9px;
  position: relative;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  margin: 0 2px 5px 0;
  text-decoration: none;
}
.filter-selected-i span {
  display: block;
  position: absolute; right: 0; top: 0;
  width: 16px; height: 18px;
  background: url(../i/icon-x-tiny.png) 0 50% no-repeat;
  border-radius: 0 2px 2px 0;
}
.filter-selected-i:hover {color: #d54343; text-decoration: none;}
.filter-selected-i:hover span {background-image: url(../i/icon-x-tiny-red.png);}

.channels {
  position: relative;
  height: 100%;
}
.channel-header {
  min-height: 59px;
  font-family: 'gotham_probold';
  font-size: 15px;
  line-height: 22px;
  padding: 24px 19px 27px 19px;
  position: relative;
}
.channel-header-q {
  display: inline-block;
  vertical-align: top;
  background: url(../i/icon-question-grey.png);
  width: 11px; height: 11px;
  margin: 0 0 0 5px;
  vertical-align: middle;
}
.channel-header-sel {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  display: inline-block;
  position: absolute; top: 15px; right: 20px;
}
.channel-header-sel .filter-form-elem-wrap {
  border-color: #f5f5f5;
  background: #f5f5f5;
  height: 27px;
}
.channel-header-sel .filter-form-field-inp.dropdown {
  color: #999;
  background-image: url(../i/icon-burger-000.png);
}
.channel-list {
  font-size: 11px;
}
.channel-row-rail {
  width: 100%; height: 70px;
  position: relative;
  overflow: hidden;
}
.channel-row {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%; height: 70px;
  position: absolute; left: 0;
}
.channel-row-rail + .channel-row-rail {border-top: 1px solid #f2f2f2;height: 71px;}
.channel-cell {
  display: table-cell;
  padding: 0 0 0 20px;
  vertical-align: middle;
  height: 70px;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
}
.channel-cell.swipe {overflow: hidden;}
.channel-cell:first-child {width: 80px; text-align: center; border-left: 0; padding: 0;}
.channel-cell:nth-child(2) {}
.channel-cell:nth-child(3) {width: 191px;}
.channel-cell:nth-child(4) {width: 147px;}
.channel-cell:nth-child(5) {width: 93px; text-align: center;padding-right: 20px;}
.channel-cell {border-left: 1px solid #f2f2f2;}
.channel-cell.colspan {
  width: 338px;
}
.channel-cell.colspan + .channel-cell {
    width: 93px;
    text-align: center;
    padding-right: 20px;
}
.channel-cell.colspan {}
.channel-swipe-i {
  background: #fff;
  width: 133px; height: 70px;
  text-align: center;
}
.channel-control {
  display: inline-block;
  width: 40px; height: 40px;
  background: url(../i/sprite-channels-control.png);
}
.channel-find {background-position: -80px -160px; cursor: default;}
.channel-play {background-position: 0px -80px;}
  .channel-play:hover {background-position: -40px -80px;}
  .channel-play.active {background-position: -80px -80px;}
  .channel-play.active:hover {background-position: -80px -120px;}
  .channel-play.inactive {background-position: -120px -80px;}
.channel-pause {background-position: 0 -240px;}
  .channel-pause:hover {background-position: -40px -240px;}
  .channel-pause.active {background-position: -80px -240px;}
    .channel-pause.active:hover {background-position: -80px -280px;}
.channel-hide {background-position: 0 -160px;}
  .channel-hide:hover {background-position: -40px -120px;}
.channel-complete {background-position: 0 -200px;}
  .channel-complete:hover {background-position: -40px -120px;}

.channel-tools {background-position: 0 0}
  .channel-tools:hover {background-position: -40px 0;}
  .channel-tools.active {background-position: -80px 0;}
.channel-stat {background-position: 0 -40px;}
  .channel-stat:hover {background-position: -40px -40px;}
  .channel-stat.active {background-position: -80px -40px;}

.channel-span {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  line-height: 17px;
}
a.channel-span {text-decoration: none; display: inline-block;}
a.channel-span:hover {text-decoration: none; background: url(../i/dotted-bbb.png) 0 13px repeat-x; }
.channel-span_grey {color: #aaa;}
.channel-span_green {color: #1eb364;}
.channel-span_red {color: #e44848;}
.channel-name-wrap {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 2px;
}
.channel-name-wrap:after {
  content: "";
  display: block;
  position: absolute; top: 0; right: 0;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
  width: 20px; height: 100%;
}
/*.channel-cell.colspan .channel-name-wrap:after {content: none;}*/
.channel-ttl {
  display: block;
  margin-bottom: 1px;
  color: #000;
  font-size: 13.5px;
  line-height: 16px;
  font-family: 'gotham_pro_bold';
  text-decoration: none;
}
a.channel-ttl {color: #098ef5; text-decoration: none;}
a.channel-ttl:hover {text-decoration: underline;}
.channel-list-bot {
  background: #f7f7f7;
  border-top: 1px solid #fff;
  height: 72px;
  padding: 16px 20px 0 19px;
}
.channel-list-bot-notice {
  float: left;
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
}
.channel-list-bot-btn {
  float: right;
  padding-top: 2px;
}
.add-account-tooltip {}
.add-account-tooltip-inner {
  position: relative;
}
.add-account-tooltip-default {
  display: none;
  font-size: 11px;
  line-height: 18px;
  color: #ccc;
  width: 100%;
  padding: 0 19px;
  position: absolute; top: -5px; left: 0;
}
.add-account-tooltip-p {
  display: none;
  font-size: 11px;
  line-height: 18px;
  color: #ccc;
  width: 100%;
  padding: 0 19px;
  position: absolute; left: 0;
}
.add-account-tooltip-default a,
.add-account-tooltip-p a {color: #2a9df6; text-decoration: none;}
.add-account-tooltip-default a:hover,
.add-account-tooltip-p a:hover {text-decoration: underline;}
.add-account-sp {
  display: none;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.add-account-ttl + .add-account-sp {padding-top: 20px;}
.modal-settings-ttl + .add-account-sp {display: block;}
.modal-settings-section.add-account-sp.notifications {
  padding-top: 13px;
  padding-bottom: 14px;
}
.add-account-ttl {
  font-family: "apercu_pro_bold";
  font-size: 15px;
  line-height: 20px;
  color: #000;
  padding: 15px 20px 0;
}
.add-account-heading {
  background: #f2f2f2;
  height: 41px;
  font-family: "apercu_pro_bold";
  font-size: 15px;
  line-height: 20px;
  padding: 10px 42px 10px 20px;
}
.add-account-heading-s {
  position: relative;
  padding-right: 15px;
  color: #2a9df6;
  text-decoration: none;
  -webkit-transition: color .5s linear;
          transition: color .5s linear;
}
.add-account-heading-s.active {color: #000;}
.add-account-heading-s:after {
  content: "";
  position: absolute; top: 50%; right: 0;
  margin-top: -2px;
  width: 9px; height: 6px;
  background: url(../i/icon-arrow-sp.png) 0 0 no-repeat;
  -webkit-animation: arrow-rotate-bwd .7s;
          animation: arrow-rotate-bwd .7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.add-account-heading-s.active:after {
  -webkit-animation: arrow-rotate-fwd .7s;
          animation: arrow-rotate-fwd .7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes arrow-rotate-fwd {
  0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  100% {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
}
@keyframes arrow-rotate-fwd {
  0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  100% {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
}
@-webkit-keyframes arrow-rotate-bwd {
  0% {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
  100% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@keyframes arrow-rotate-bwd {
  0% {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
  100% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
.add-account-heading-tag {
  float: right;
  width: 87px;
  color: #1eb364;
  border: 1px solid;
  border-radius: 3px;
  font-family: 'apercu_pro_light';
  font-size: 8px;
  line-height: 18px;
  height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.add-account-p {
  font-size: 12px;
  line-height: 18px;
  color: #999;
  padding: 0 0 10px 0;
  margin-top: -6px;
}
.add-account-p a {
  color: #1eb364;
  text-decoration: none;
}
.add-account-p a:hover {text-decoration: underline;}
.add-account-bot {
  padding: 20px;
}
.add-account-bot-inner {display: inline-block;vertical-align: top; position: relative;padding-right: 21px;}
.modal-holder {
  position: absolute; top: 0; right: -365px;
  width: 365px; height: 100%;
  padding-top: 0;
}
.modal-window-holder.centered {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0, .3);
  z-index: 10;
}
.modal-window-holder.centered .modal-window-holder-inner {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  max-width: 1000px;
  min-width: 1000px;
  text-align: center;
  padding-left: 280px;
}
.modal-window-holder.centered .modal-window-holder-inner:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0; height: 100%;
}
.modal-window-holder.centered .modal-window {
  position: static;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  z-index: 11;
}
.modal-fail {
  background: #fff;
  width: 270px; min-height: 225px;
  -webkit-box-shadow: 0 0 20px #969696;
  box-shadow: 0 0 20px #969696;
  z-index: 6;
}
.modal-fail-mid {
  min-height: 105px;
  background: #f2f2f2;
  padding: 16px 20px 17px;
}
.modal-fail-p {
  font-size: 12px;
  line-height: 18px;
}
.modal-fail-bot {
  padding: 20px;
}
.modal-window-layout {
  position: relative;
}
.modal-window-layout:after {
  content: "";
  display: table;
  clear: both;
}
.modal-window-col {
  float: left;
}
.modal-window-col:first-child {width: 440px; border-right: 1px solid #f2f2f2;}
.modal-window-col:nth-child(2) {width: 220px;}

.modal-acc-delete {
  display: none;
  position: fixed; right: 0; left: 0; top: 90px;
  margin: auto auto auto auto;
  background: #fff;
  width: 420px;
  min-height: 285px;
  -webkit-box-shadow: 0 0 20px #969696;
  box-shadow: 0 0 20px #969696;
  z-index: 6;
}
.modal-filter {
  display: none;
  position: fixed; right: 0; left: 0; top: 90px;
  margin: auto auto auto auto;
  background: #fff;
  width: 366px;
  min-height: 400px;
  padding-bottom: 93px;
  -webkit-box-shadow: 0 0 20px #969696;
  box-shadow: 0 0 20px #969696;
  z-index: 6;
}
.modal-filter-top {
  position: relative;
  padding: 0 35px 0 20px;
}
.modal-filter-top_bdb {border-bottom: 1px solid #f2f2f2;}
.modal-filter-ttl {
  font-family: 'gotham_pro_bold';
  font-size: 20px;
  line-height: 20px;
  padding: 24px 0 19px;
}
.modal-filter-ttl span {color: #bbb;}
.modal-filter-channel {
  white-space: nowrap;
  overflow: hidden;
}
.modal-filter-channel-img {
  display: inline-block;
  vertical-align: middle;
  margin: 19px 10px 20px 0;
  border-radius: 3px;
}
.modal-filter-channel-info {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 2px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 256px;
}
.modal-filter-channel-info:after {
  content: "";
  position: absolute; top: 0; right: 0;
  width: 39px; height: 100%;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
}
.modal-filter-channel-info .channel-ttl {font-size: 15px; margin-bottom: 1px;}
.modal-filter-top-x {
  position: absolute; top: 35px; right: 20px;
  width: 19px; height: 19px;
  margin-top: -9px;
  background: url(../i/icon-x-o-lg.png);
}
.modal-filter-mid {}
.modal-filter-tabs-nav {
  background: #f2f2f2;
  height: 39px;
  padding: 9px 0 10px 20px;
  color: #bbb;
}
.modal-filter-tabs-nav-a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  color: #000;
  background: url(../i/dotted-000.png) 0 15px repeat-x;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
}
@-moz-document url-prefix() {
 .modal-filter-tabs-nav-a {line-height: 18px;}
}
.modal-filter-tabs-nav-a + .modal-filter-tabs-nav-a {margin-left: 12px;}
.modal-filter-tabs-nav-a.active {color: #d54343; background-image: url(../i/dotted-d54343.png);}
.modal-filter-tabs-nav-a.active:after {
  content: "";
  width: 7px; height: 4px;
  position: absolute; bottom: -10px; left: 50%;
  margin-left: -4px;
  background: url(../i/arrow-up-fff.png);
}
.modal-filter-tabs-nav-a.inactive {color: #bbb; background-image: url(../i/dotted-bbb.png); cursor: default;}
.modal-filter-tabs-nav-find {
  background: url(../i/icon-find.png) 50% 5px no-repeat;
  width: 11px;
}
.modal-filter-tabs-nav-a + .modal-filter-tabs-nav-find {margin-left: 10px;}
.modal-filter-tabs {min-height: 302px;}
.modal-filter-tab {}
.modal-filter-bot {
  background: #f2f2f2;
  overflow: hidden;
  padding: 20px;
  margin-top: 20px;
  position: absolute; bottom: 0;
  width: 100%;
}
.modal-filter-btn {
  width: 33px; height: 33px;
  float: left;
  margin-right: 4px;
  background: url(../i/sprite-modal-control.png);
}
.modal-filter-btn_dead {background-position: 0 0;}
.modal-filter-btn_stop {background-position: 0 -33px;}
.modal-filter-btn_pause {background-position: 0 -66px;}
.modal-filter-btn_play {background-position: 0 -99px;}
.modal-filter-btn_dead:hover {background-position: -33px 0;}
.modal-filter-btn_stop:hover {background-position: -33px -33px;}
.modal-filter-btn_pause:hover {background-position: -33px -66px;}
.modal-filter-btn_dead.active {background-position: -66px 0;}
.modal-filter-btn_stop.active {background-position: -66px -33px;}
.modal-filter-btn_pause.active {background-position: -66px -66px;}
.modal-filter-btn_play.active {background-position: -66px -99px;}
.modal-section__p {
  font-size: 12px;
  line-height: 20px;
  color: #000;
  padding: 16px 20px;
}
.modal-section__p a {
  color: #289bf5;
  text-decoration: none;
}
.modal-section__p a:hover {text-decoration: underline;}
.filter-form {
  padding: 20px 20px 0;
}
.filter-form-elem {
  padding-right: 22px;
  position: relative;
}
.filter-form-elem_60p {width: 314px;}
.filter-form-elem_clear {padding-right: 0;}
.filter-form-elem_half {min-width: 306px;}
.filter-form-elem_upload {padding-right: 64px;}
.filter-form-elem + .filter-form-elem {margin-top: 10px;}
.filter-form-elem-wrap {
  display: table;
  width: 100%; height: 33px;
  border: 1px solid #dedede;
  border-collapse: separate;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.filter-form-lbl {
  display: table-cell;
  vertical-align: middle;
  color: #999;
  width: 82px; height: 100%;
  border-right: 1px solid #dedede;
  padding-bottom: 1px;
}
.filter-form-lbl-chk-wrap {
  display: inline-block;
  width: 31px; height: 31px;
  border-right: 1px solid #dedede;
  position: relative;
  vertical-align: middle;
}
.filter-form-lbl-chk {
  visibility: hidden;
  position: absolute;
  top: -9999px;
}
.filter-form-lbl-i {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
.filter-form-lbl-i_bd {border: 1px solid #dedede; border-radius: 3px; padding-right: 9px;}
.filter-form-lbl-i-s {display: inline-block; vertical-align: middle; color: #999; line-height: 30px;}
.filter-form-lbl-chk-icon {
  float: left;
  width: 31px; height: 31px;
  background: url(../i/icon-checkbox.png) 50% 10px no-repeat;
  cursor: pointer;
}
.filter-form-lbl-chk:checked + .filter-form-lbl-i .filter-form-lbl-chk-icon {background-position: 50% -40px;}
.filter-form-lbl span {
  display: inline-block; 
  padding: 0 0 0 10px;
  vertical-align: middle;
}
@-moz-document url-prefix() {
 .filter-form-lbl span {line-height: 13px;}
}
.filter-form-lbl .filter-form-lbl-chk-wrap + span {padding-left: 7px;}
.filter-form-field {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  max-width: 109px;
}
.filter-form-field + .filter-form-field {border-left: 1px solid #dedede;}
.filter-form-field_w50 {width: 50px;}
.filter-form-field_w55 {width: 55px;}
.filter-form-field_w70 {width: 70px;}
.filter-form-field_w100 {width: 100px;}
.filter-form-field_w110 {width: 110px;}
.filter-form-field-inner {
  position: relative;
  height: 100%;
}
.filter-form-field-inp {
  display: block;
  width: 100%; height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  /*line-height: 20px;*/
  padding: 0 9px;
  text-decoration: none;
  color: #000;
  border: 0;
  background: transparent;
  position: relative;
  z-index: 5;
}
@-moz-document url-prefix() {
 .filter-form-field-inp {padding-bottom: 0;}
}
.filter-form-field-inp.dropdown {
  background: url(../i/icon-burger-000.png) 100% 50% no-repeat; cursor: pointer; padding-right: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectbox .filter-form-field-inp.dropdown {  
    background: url(../i/icon-arrow-filter-pad.png) 100% 50% no-repeat;
  cursor: pointer; 
  padding-right: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectbox .filter-form-field-inp.dropdown.active {  
    background: url(../i/icon-arrow-filter-pad.png) 100% 50% no-repeat;
}
.filter-form-field-inp.required::-webkit-input-placeholder {color: #d54343;} 
.filter-form-field-inp.required:-moz-placeholder {color: #d54343;} 
.filter-form-field-inp.required::-moz-placeholder {color: #d54343;}
.filter-form-field-inp::-webkit-input-placeholder {color: #2a9df6;} 
.filter-form-field-inp:-moz-placeholder {color: #2a9df6;} 
.filter-form-field-inp::-moz-placeholder {color: #2a9df6;}
.filter-form-field-inp.required::-webkit-input-placeholder {color: #d54343;} 
.filter-form-field-inp.required:-moz-placeholder {color: #d54343;} 
.filter-form-field-inp.required::-moz-placeholder {color: #d54343;}
.filter-form-field-inp.active {z-index: 7;}
.filter-form-field-inp.dropdown.active {background-image: url(../i/icon-burger-2a9df6.png);}
.filter-form-field-inp.dropdown.selectbox.active {background:none;}
.filter-form-field-inp.required.dropdown.active {background-image: url(../i/icon-burger-d54343.png);}
.filter-form-field-inp.required.dropdown.selectbox.active {background:none;}
.filter-form-field-inp.suggest.loading {background: url(../i/icon-additional-loading.gif) 95% 50% no-repeat;}
.filter-form-field-inp:disabled {color: #bbb; cursor: default;}
.filter-form-field-inp.dropdown:disabled {background-image: url(../i/icon-burger-bbb.png); color: #bbb;-webkit-text-fill-color: #bbb;}
.filter-form-field-inp:disabled {background: url(../i/icon-burger-bbb.png) 100% 50% no-repeat; color: #bbb;-webkit-text-fill-color: #bbb;}
.filter-form-field-inp:disabled::-webkit-input-placeholder {color: #bbb;-webkit-text-fill-color: #bbb;}
.filter-form-field-inp:disabled:-moz-placeholder {color: #bbb;}
.filter-form-field-inp:disabled:-ms-input-placeholder {color: #bbb;}
.filter-form-field-inp:disabled::-moz-placeholder {color: #bbb;}
a.filter-form-field-inp {padding-top: 5px; white-space: nowrap;color: #2a9df6;}
a.filter-form-field-inp.required {color: #d54343;}
a.filter-form-field-inp span {display: inline-block; height: 16px; border-bottom: 1px dotted;}

input.filter-form-field-inp.has-ghost {visibility: hidden; position: absolute;}
div.filter-form-field-inp.ghost {
  width: 100%; height: 100%;
}
.filter-form-field-inp-mask {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  line-height: 32px;
  padding-left: 10px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
}
.filter-form-field-inp-mask span {color: #bbb;}
.filter-form-elem-wrap[data-style=inp-green-bg] {border-color: #1eb364;}
.filter-form-elem-wrap[data-style=inp-grey-text] .filter-form-field-inp.ghost {color: #999;}
.filter-form-elem-wrap[data-style=inp-green-bg] .filter-form-field-inp.ghost {background-color: #1eb364; background-image: url(../i/icon-burger-fff2.png); color: #fff;}
.filter-form-elem-wrap[data-style=inp-green-bg] .filter-form-field-inp.ghost.active {background-color: transparent; background-image: url(../i/icon-burger-000.png); color: #000;}
div.filter-form-field-inp.ghost .filter-form-field-dd-place-c {height: 31px;}
@-moz-document url-prefix() {
 a.filter-form-field-inp span {background-position: 0 16px;}
}
textarea.filter-form-field-inp {padding: 7px 9px; height: 100px; resize: none;}
textarea.filter-form-field-inp::-webkit-input-placeholder {color: #999;} 
textarea.filter-form-field-inp:-moz-placeholder {color: #999;} 
textarea.filter-form-field-inp::-moz-placeholder {color: #999;}
.filter-form-field-dd-btn {
  position: absolute; top: 0; right: 0;
  width: 29px; height: 100%;
  cursor: pointer;
  z-index: 7;
}
.filter-form-field-dd {
  display: none;
  position: absolute; top: -5px; right: -5px; left: -5px;
  background: #fff;
  max-height: 160px;
  padding: 43px 0 0;
  z-index: 6;
  -webkit-box-shadow: 0 0 10px #969696;
  box-shadow: 0 0 10px #969696;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.active + .filter-form-field-dd {
  /*z-index: 11;*/
}
.filter-form-field-dd.full-size {max-height: inherit;}
.filter-form-field-inp.active + .filter-form-field-dd {display: block;}
.filter-form-field-dd:after {
  content: "";
  display: block;
  position: absolute; top: 43px;
  width: 100%;
  border-top: 1px solid #ebebeb;
}
.filter-form-elem.upward .filter-form-field-dd {
  position: absolute; top: inherit; right: -5px; bottom: -5px; left: -5px;
  padding: 0 0 43px;
} 
.filter-form-elem.upward .filter-form-field-dd:after {
  content: "";
  display: block;
  position: absolute; top: inherit; bottom: 43px;
  width: 100%;
  border-top: 1px solid #ebebeb;
}
.filter-form-field-dd-line.filter-form-field-dd-wrap {padding: 0; height: auto; border: 0;}
.filter-form-field-dd-line.filter-form-field-dd-wrap .filter-form-location {border: 0;}
.filter-form-field-dd-line.filter-form-field-dd-wrap .filter-form-location-i,
.filter-form-field-dd-line.filter-form-field-dd-wrap .filter-form-location-name {border-color: #ebebeb;}
.filter-form-field-dd-i {
  display: block;
  border-top: 1px solid #ebebeb;
  color: #000;
  text-decoration: none;
  line-height: 20px;
  padding: 5px 15px 6px 15px;
  position: relative;
  overflow: hidden;
}
.filter-form-field-dd-i span {
  color: #bbb;
  width: 50px;
  /*position: absolute; right: 6px;*/
  float: right;
}
.filter-form-field-dd-i .filter-form-field-count {
  position: absolute; right: 15px;
  width: auto;
  display: block;
  background: #fff;
  text-align: right;
  z-index: 3;
}
.filter-form-field-dd-i .filter-form-field-count:after {
  content: "";
  position: absolute; top: 0; left: -29px;
  width: 29px; height: 100%;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
}
.filter-form-field-dd-i .filter-form-field-val {
  display: block;
  float: none;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: auto;
}

.filter-form-field-dd.countable .filter-form-field-dd-i .filter-form-field-val {
  width: 80%;
}

.filter-form-field-dd-i .filter-form-field-val:after {
  content: "";
  display: block;
  position: absolute; top: 0; right: 0;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
  width: 19px; height: 100%;
  z-index: 2;
}
.filter-form-field-dd-i .filter-form-field-val sub,
.filter-form-field-dd-i .filter-form-field-val sup {vertical-align: super; font-size: smaller; color: #bbb;display: inline-block;margin-top: -4px;}
.filter-form-field-dd-i:hover {text-decoration: none;}
.filter-form-field-dd-i:hover,
.filter-form-field-dd-i:hover span,
.filter-form-field-dd-i:focus,
.filter-form-field-dd-i:focus .filter-form-field-val {color: #2a9df6;}
.filter-form-field-inp.required + .filter-form-field-dd .filter-form-field-dd-i:hover,
.filter-form-field-inp.required + .filter-form-field-dd .filter-form-field-dd-i:hover span,
.filter-form-field-inp.required + .filter-form-field-dd .filter-form-field-dd-i:focus,
.filter-form-field-inp.required + .filter-form-field-dd .filter-form-field-dd-i:focus .filter-form-field-val {color: #d54343;}

.icon-place {
  display: block;
  width: 23px; height: 23px;
  border-radius: 3px;
}
.icon-place.icon-place_search {
  background-image: url(../i/icon-search.png);
}
.icon-place.icon-place_ice {
  background-image: url(../i/icon-ice.png);
}
.filter-form-field-dd-place {
  display: table; 
  width: 100%;
  table-layout: fixed;
}
.filter-form-field-dd-place-c {
  display: table-cell;
  height: 37px;
  vertical-align: middle;
}
.filter-form-field-dd-place-c:first-child {width: 35px;}
.filter-form-field-dd-place .filter-form-field-val {line-height: 16px;}
@-moz-document url-prefix() {
  .filter-form-field-dd-place .filter-form-field-val {line-height: 16px;}
}
.filter-form-field-dd-place .filter-form-field-dd-place-s {
  float: none;
  font-size: 11px;
  line-height: 16px;
  display: block;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  color: #bbb;
  position: relative;
}
.filter-form-field-dd-place .filter-form-field-dd-place-s:after {
  content: "";
  position: absolute; top: 0; right: 0;
  width: 39px; height: 100%;
  background: url(../i/shader-ltr-fff.png) 0 0 repeat-y;
}
.payment-dd .filter-form-field-dd {max-height: 165px;}
.payment-dd .filter-form-field-dd-place-c {height: 21px;}
.payment-dd .filter-form-field-dd-place-c .filter-form-field-val:after {display: none;}
.payment-dd .filter-form-field-dd-place-c:first-child {width: 25px;}
.places-dd {max-height: 196px;}

.filter-form-elem-q {
  display: block;
  background: url(../i/icon-question-000.png) 50% 50% no-repeat;
  width: 11px; height: 100%;
  position: absolute; top: 0; right: 0;
  opacity: .15;
}
.filter-form-elem-q:hover {opacity: .3;}
.filter-form-elem-q.active {opacity: 1;}
.notifications-i .filter-form-elem-q {height: 11px; top: 7px;}
.filter-form-elem-upload {
  position: absolute; top: 0; right: 22px;
  width: 33px; height: 33px;
  background: url(../i/icon-btn-upload.png) 0 0 no-repeat;
}
.filter-form-field-dd-line {
  border-top: 1px solid #ebebeb;
  padding: 5px;
  height: 44px;
}
.filter-form-field-dd-line_thin {padding: 0 5px; height: 31px;}
.filter-form-field-custom {position: relative;}
.filter-form-field-custom-val {
  border: 1px solid #dedede;
  border-width: 1px 0 1px 1px;
  border-radius: 3px 0 0 3px;
  padding: 0 35px 1px 8px;
  overflow: hidden;
  height: 33px;
  width: 99%;
}
.filter-form-field-custom-val::-webkit-input-placeholder {color: #2a9df6;} 
.filter-form-field-custom-val:-moz-placeholder {color: #2a9df6;} 
.filter-form-field-custom-val::-moz-placeholder {color: #2a9df6;}
.filter-form-field-custom-btn {
  position: absolute; top: 0; right: 0;
  width: 33px; height: 33px;
  line-height: 31px;
  background: #2a9df6;
  color: #fff;
  font-family: "apercu_pro_light";
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  border-radius: 0 3px 3px 0;
}
.filter-form-field-range-btn {
  float: right;
  height: 33px;
  line-height: 31px;
  background: #2a9df6;
  color: #fff;
  font-family: "apercu_pro_light";
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  padding: 0 9px;
}
.filter-form-taglist {
  padding: 7px 22px 0 0;
}
.filter-form-taglist.filter-form-elem {margin: 0;}
.filter-form-taglist + .filter-form-elem {margin-top: 10px;}
.filter-form-taglist-wrap {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.filter-form-taglist-left {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
.filter-form-taglist-right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  text-align: right;
  font-size: 11px;  
}
.filter-form-taglist-i {
  display: inline-block;
  max-width: 100%;
  color: #afafaf;
  border: 1px solid #dedede;
  border-radius: 3px;
  font-family: 'apercu_pro_light';
  font-size: 8px;
  line-height: 17px;
  height: 20px;
  text-transform: uppercase;
  padding: 0 9px;
  margin-top: 3px;
  text-decoration: none;
}
.filter-form-taglist-i span {
  display: block; 
  background: url(../i/icon-x-tiny.png) 100% 50% no-repeat; 
  height: 18px; 
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.filter-form-taglist-i:hover {text-decoration: none;}
.filter-form-taglist-i:hover span {color: #d54343; background-image: url(../i/icon-x-tiny-red.png);}
.filter-form-taglist-more {
  display: inline-block;
  line-height: 20px;
  color: #999;
  background: url(../i/dotted-999.png) 0 15px repeat-x;
  text-decoration: none;
}
.filter-form-taglist-more.active {
  color: #d54343;
  background-image: url(../i/dotted-d54343.png);
}
.filter-form-taglist-dd {
  display: none;
  position: absolute; top: 0; left: 0;
  width: 205px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #969696;
  box-shadow: 0 0 10px #969696;
  z-index: 7;
  height: 100%;
}
.filter-form-taglist-dd-top {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 49px;
  line-height: 48px;
  font-family: "apercu_pro_bold";
  font-size: 18px;
  color: #e44848;
  padding: 0 20px;
  border-bottom: 1px solid #f2f2f2;
}
.filter-form-taglist-dd-mid {
  height: 100%;
  padding-top: 48px;
}
.filter-form-taglist-dd-wrap {
  height: 100%;
  overflow-y: auto;
}
.filter-form-taglist-dd-inner {padding: 20px 20px 15px;}
.filter-form-taglist-dd-i {padding-bottom: 4px;}

.filter-form-additional {
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-top: 10px;
  position: relative;
}
.filter-form-additional-head {
  height: 32px;
  line-height: 20px;
  color: #999;
  padding: 5px 10px 6px;
  border-bottom: 1px solid #dedede;
}
.filter-form-additional-body {
  overflow-y: auto;
  position: relative;
  height: 225px;
}
.filter-form-additional-body_h230 {height: 230px;}
.filter-form-additional-inner {padding: 4px 10px 5px;}
.filter-form-additional-body.loading .filter-form-additional-inner {display: none;}
.filter-form-additional-i {
  font-size: 12px;
  line-height: 24px;
  color: #ccc;
}
.filter-form-additional-a {
  display: inline-block;
  color: #2a9df6;
  background: url(../i/dotted-2a9df6.png) 0 17px repeat-x;
  text-decoration: none;
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.filter-form-additional-loading {
  display: none;
  background: url(../i/icon-additional-loading.gif) 50% 10px no-repeat;
  color: #999;
  font-size: 12px;
  line-height: 18px;
  width: 140px; height: 90px;
  text-align: center;
  padding-top: 39px;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}
.loading + .filter-form-additional-loading {display: block;}
.filter-form-map {margin: 10px 0;}
.filter-form-location {
  border: 1px solid #dedede;
  border-radius: 3px;
}
.filter-form-location {height: 225px;}
.filter-form-location-i {
  color: #999;
  height: 31px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.filter-form-location-i +.filter-form-location-i {border-top: 1px solid #dedede;}
.filter-form-location .filter-form-lbl-chk-icon {float: left;}
.filter-form-location-name {
  width: auto; height: 100%;
  line-height: 31px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #dedede;
  border-width: 0 0 0 1px;
  padding: 0 10px;
  color: #999;
}
.filter-form-location-count {
  display: inline-block;
  margin-left: -3px;
  width: 63px;
  vertical-align: middle;
  padding-left: 9px;
}
.filter-form-location .filter-form-lbl-chk:checked + .filter-form-lbl-i .filter-form-lbl-chk-icon,
.filter-form-location .filter-form-lbl-chk:checked + .filter-form-lbl-i .filter-form-location-name,
.filter-form-location .filter-form-lbl-chk:checked + .filter-form-lbl-i .filter-form-location-count,
.filter-form-lbl-chk:checked + .filter-form-lbl-i .filter-form-lbl-i-s,
.filter-form-lbl-chk:checked + .filter-form-lbl-i .filter-form-location-name  {color: #000;}

.filter-form-time-selector {height: auto;}
.filter-form-time-selector .filter-form-lbl {width: 42px;}
.filter-form-time-selector .filter-form-field + .filter-form-field {border-left: 0;}
.filter-form-time-selector .filter-form-field + .filter-form-field .filter-form-field-inner:before {
  content: ":";
  color: #000;
  display: inline-block;
  vertical-align: middle;
  position: absolute; left: -2px; top: 9px;
  width: 10px; height: 29px;
}
.filter-form-time-selector .btn {margin-top: 5px;}

.filter-form-lbl_w95 {width: 95px;}
.filter-form-lbl_w110 {width: 110px;}
.filter-form-lbl_w120 {width: 120px;}
.filter-form-lbl_w122 {width: 122px;}
.filter-form-lbl_wide {width: 122px;}
.filter-form-lbl_w132 {width: 132px;}
.filter-form-lbl_tiny {width: 50px;}
.filter-form-lbl_auto {width: auto; white-space: nowrap;}
.filter-form-lbl_auto span {padding-right: 9px;}
.filter-form-lbl_auto + .filter-form-field {width: 100%;}
.filter-form-lbl_auto + .filter-form-field + .filter-form-field {width: 100%;}
.field-tiny {width: 195px;}
.field-small {width: 322px;}
.field-inp__ip {width: 160px;max-width: inherit;}

.my-accounts {width: 345px; height: 437px; padding-bottom: 0;}
.my-accounts-inner {}
.my-accounts-search {
  padding: 15px 20px;
  position: relative;
}
.my-accounts-search-inp {
  height: 33px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  padding: 0 10px;
  width: 100%;
  background: transparent;
}
.my-accounts-search-inp::-webkit-input-placeholder {color: #999;} 
.my-accounts-search-inp:-moz-placeholder {color: #999;} 
.my-accounts-search-inp::-moz-placeholder {color: #999;}
.my-accounts-search-clear {
  position: absolute; right: 20px; top: 0;
  display: block;
  background: url(../i/icon-x-tiny.png) 50% 50% no-repeat;
  width: 26px; height: 100%;
  border: 0;
}
.my-accounts-list {
  padding: 0 0 0 20px;
  height: 286px;
}
.my-accounts-list-inner {padding-bottom: 10px; overflow: hidden;}
.my-accounts-i {
  float: left;
  width: 95px;
  margin: 0 10px 10px 0;
  border: 1px solid #ebebeb;
  padding-bottom: 6px;
}
.my-accounts-i-img {margin: 9px 9px 0; display: block;}
.my-accounts-i-img img {border-radius: 3px;}
.my-accounts-i-name-wrap {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 4px;
}
.my-accounts-i-name-wrap:after {
  content: "";
  position: absolute; top: 0; right: -12px;
  width: 39px; height: 100%;
  background: url(../i/shader-ltr-fff.png) repeat-y;
}
.my-accounts-i-name {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  width: 95px;
  color: #289bf5;
  text-decoration: none;
  padding-left: 9px;
}
.my-accounts-i-name:hover {text-decoration: underline;}
.my-accounts-i-status {
  color: #bbb;
  padding: 0 9px;
  line-height: 14px;
}
.my-accounts-i-status.active span {color: #00a551;}
.my-accounts-i-status.pause span {color: #000;}

.content-tabs-nav {
  background: #f2f2f2;
  height: 39px;
  padding: 9px 0 10px 20px;
  color: #bbb;
}
.content-tabs-nav-a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  color: #000;
  background: url(../i/dotted-000.png) 0 15px repeat-x;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
}
@-moz-document url-prefix() {
 .content-tabs-nav-a {line-height: 18px;}
}
.content-tabs-nav-a + .content-tabs-nav-a {margin-left: 20px;}
.content-tabs-nav-a.active {color: #d54343; background-image: url(../i/dotted-d54343.png);}
.content-tabs-nav-a.active:after {
  content: "";
  width: 7px; height: 4px;
  position: absolute; bottom: -10px; left: 50%;
  margin-left: -4px;
  background: url(../i/arrow-up-fff.png);
}
.content-tabs-nav-a.inactive {color: #bbb; background-image: url(../i/dotted-bbb.png); cursor: default;}
.content-tabs-nav_plain .content-tabs-nav-a {background: transparent;}
.content-tab {padding-bottom: 30px;}
.filter-form-location.full-height {height: inherit;}

.emoji {
      width: 16px;
    height: 16px;
    border: none;
    vertical-align: top;
    margin: 2px 5px 0 5px;
}
.emoji + .emoji { margin-left: -3px;}
/* ==========================================================================
   Media Queries
========================================================================== */

@media only screen and (min-width: 320px) {

}
@media only screen and (min-width: 640px) {

}
@media only screen and (min-width: 1024px) {

}
@media only screen and (min-width: 1280px) {

}
@media only screen and (min-width: 1440px) {

}
@media only screen and (min-width: 1625px) {
  .modal-filter:not(.no-side-position) {
    background: #f2f2f2;
    position: fixed; top: auto; right: auto; bottom: auto; left: auto;
    height: 100%;
    margin: -49px 0 0;
    padding-top: 49px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .modal-filter:not(.no-side-position) .modal-filter-channel-info:after {background-image: url(../i/shader-ltr-f2f2f2.png);}
  .modal-filter:not(.no-side-position) .modal-filter-bot, .modal-filter-tabs-nav {background: #ebebeb;}
  .modal-filter:not(.no-side-position) .modal-filter-tabs-nav-a.active:after {background-image: url(../i/arrow-up-f2f2f2.png);}
  .my-accounts:not(.no-side-position) .my-accounts-i-name-wrap:after {background-image: url(../i/shader-ltr-f2f2f2.png);}
  .my-accounts:not(.no-side-position) {height: 100%;}
  .my-accounts:not(.no-side-position) .my-accounts-list {height: inherit;}
  .filter-form-taglist-dd {max-height: 390px; top: 88px;}
  .filter-form-additional-body {height: 225px;}
  .filter-form-location {height: inherit;}
}
@media only screen and (min-width: 1680px) {

}
@media only screen and (min-width: 1920px) {

}

/* ==========================================================================
   Retina-specific stuff
   ========================================================================== */
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  .channel-control {
    background-image: url(../i/sprite-channels-control@2x.png);
    background-size: 120px 320px;
  }
  .user-card-control-a {
    background-image: url(../i/sprite-card-control@2x.png);
    background-size: 45px 45px;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.text-red {color: #e44848;}
.text-green {color: #1eb364;}
.addbar {display: none;}
.fll {float: left;}
.flr {float: right;}
/*force justify for ul>li structure*/
.justify-me {text-align: justify;} 
.justify-me:after{
    content: " ";
    display: inline-block;
    width: 100%;
}
.justify-me li {display: inline-block;}
/*clearfix*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}